  <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <h2 class="profile-username text-center">Submit KPIs</h2>
        <hr>
        <br>
         <div class="info-box bg-info">
          <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

          <div class="info-box-content">
            <span class="info-box-number">{{ total_submitted }} <small> out of </small> {{ active_pms.pms_individual_kpi_number }}</span>
            <div class="progress">
              <div class="progress-bar" style="width: {{ percent_submitted }}%"></div>
            </div>
            <span class="progress-description">
              <small>Submitted</small>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <p class="text-center">
          Submission Timeframe<br>
          <small>{{ active_pms.pms_individual_submit_start_date }} - {{ active_pms.pms_individual_submit_end_date }}</small>
        </p>
        <br>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <a href="#" class="btn btn-primary btn-block"><b>My KPI Dashboard</b></a>
            <a href="#" class="btn btn-primary btn-block"><b>Submit KPI</b></a>
            <a href="#" class="btn btn-primary btn-block"><b>Edit KPI</b></a>
            <a href="#" class="btn btn-primary btn-block"><b>Track KPI</b></a>
            <a href="#" class="btn btn-primary btn-block"><b>KPI Results</b></a>
          </li>
        </ul>
      </div>
      <!-- /.card-body -->
  </div>