<!-- KPI Form -->

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Edit KPI here</h5>
        </div>
        <form method="post">
            {% csrf_token %}
        <div class="card-body">
            {{ form.kpi_id.as_hidden }}
            {{ form.kpi_user.as_hidden }}
            {{ form.kpi_pms.as_hidden }}
            {{ form.kpi_status.as_hidden }}
            KPI Title
            {{ form.kpi_title }}
            <br>
            Description
            {{ form.kpi_details }}
            <br>
            Criteria
            {{ form.kpi_criteria }}
            <br>

            <div class="row">
                <div class="col-md-4">
                    Target
                    {{ form.kpi_target }}
                </div>
                <div class="col-md-4">
                    Units
                    {{ form.kpi_units }}
                </div>
                <div class="col-md-4">
                    Weight
                    {{ form.kpi_weight }}
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4">
                    Function
                    {{ form.kpi_function }}
                </div>
                <div class="col-md-4">
                    Type
                    {{ form.kpi_type }}
                </div>
            </div>

        </div>
        <div class="card-footer">
            <a href="{% url 'Site:KPI_Category_Level_One_Delete' levelcategory.category_id level.level_id kpi.kpi_id %}"><div class="btn btn-danger float-right" style="margin: 10px">Delete Instead</div></a>
            <button type="submit" class="btn btn-warning float-right" style="margin: 10px">Clear</button>
            <button type="submit" class="btn btn-success float-right" style="margin: 10px">Save</button>

        </div>
        </form>
    </div>
</div>