<!-- KPI Form -->

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Edit PMS here</h5>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="card-body">
                {{ form.errors }}
                    {{ form.pms_id.as_hidden }}
                    Name
                    {{ form.pms_name }}
                    <br>
                    Description
                    {{ form.pms_description }}
                    <div class="row">
                        <div class="col-md-6">
                            <br>
                            Start Date
                            <input class="form-control" name="{{ form.pms_year_end_date.name }}" id="{{ form.pms_year_end_date.id_for_label }}" type="date"  value="{{ form.pms_year_end_date.value|date:'Y-m-d'|stringformat:'s' }}">
                        </div>
                        <div class="col-md-6">
                            <br>
                            End Date
                            <input class="form-control" name="{{ form.pms_year_start_date.name }}" id="{{ form.pms_year_start_date.id_for_label }}" type="date"  value="{{ form.pms_year_start_date.value|date:'Y-m-d'|stringformat:'s' }}">
                        </div>
                    </div>
                    <br>
                    PMS Active {{ form.pms_active }}
            </div>
            <div class="card-footer">
                <a href="{% url 'cfao_kenya:Admin_PMS_Delete' pms.pms_id %}"><div class="btn btn-danger float-right" style="margin: 10px">Delete Instead</div></a>
                <button type="clear" class="btn btn-warning float-right" style="margin: 10px">Clear</button>
                <button type="submit" class="btn btn-success float-right" style="margin: 10px">Save</button>
            </div>
        </form>
    </div>
</div>