<!-- KPI Form -->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            {{ Assessment.assessment_name }}
            <div class="float-right btn btn-danger"><a href="{% url 'cfao_kenya:Admin_Assessment_Delete' pms_select.pms_id Assessment.assessment_id %}">Delete</a></div>
            <div class="float-right btn btn-warning"><a href="{% url 'cfao_kenya:Admin_Assessment_Edit' pms_select.pms_id Assessment.assessment_id %}">Edit</a></div>
        </div>
         <table class="table table-bordered table-hover">
              <tbody>
                  <tr>
                      <th>
                          Title
                      </th>
                      <td>
                          {{ Assessment.assessment_name }}
                      </td>
                  </tr>
                  <tr>
                      <th>
                          Description
                      </th>
                      <td>
                          {{ Assessment.assessment_details }}
                      </td>
                  </tr>
                  <tr>
                      <th>
                          Start Date
                      </th>
                      <td>
                          {{ Assessment.assessment_start_date }}
                      </td>
                  </tr>
                  <tr>
                      <th>
                          End Date
                      </th>
                      <td>
                          {{ Assessment.assessment_end_date }}
                      </td>
                  </tr>
                  <tr>
                      <th>
                          Active
                      </th>
                      <td>
                          {{ Assessment.assessment_scoring_use }}
                      </td>
                  </tr>
              </tbody>
         </table>
    </div>
    <div class="row">

      <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-color1 elevation-1"><i class="fas fa-thumbs-up"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{ questions.count }} Questions</span>
                </div>
            </div>
        </div>
      <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-color1 elevation-1"><i class="fas fa-thumbs-up"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{ top_questions.count }} S>TL Questions</span>
                </div>
            </div>
        </div>
      <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-color1 elevation-1"><i class="fas fa-thumbs-up"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">{{ bottom_questions.count }} TL>S Questions</span>
                </div>
            </div>
        </div>

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>


    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-title">{{ Assessment.assessment_name }} Questions - Staff Evaluate TL</div>
            <div class="float-right btn btn-warning bg-info"><a href="{% url 'cfao_kenya:Admin_Assessment_Question_Create' pms.pms_id Assessment.assessment_id %}">New</a></div>
        </div>
         <table class="table table-bordered table-hover">
              <tbody>
                {% for question in top_questions %}
                  <tr>
                      <th>
                          <a href="{% url 'cfao_kenya:Admin_Assessment_Question_Edit' pms_select.pms_id Assessment.assessment_id question.question_id %}">{{ question.question }}</a>
                      </th>
                  </tr>
                {% endfor %}
              </tbody>
         </table>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-title">{{ Assessment.assessment_name }} Questions - TL Evaluate Staff</div>
            <div class="float-right btn btn-warning bg-info"><a href="{% url 'cfao_kenya:Admin_Assessment_Question_Create' pms.pms_id Assessment.assessment_id %}">New</a></div>
        </div>
         <table class="table table-bordered table-hover">
              <tbody>
                {% for question in bottom_questions %}
                  <tr>
                      <th>
                          <a href="{% url 'cfao_kenya:Admin_Assessment_Question_Edit' pms_select.pms_id Assessment.assessment_id question.question_id %}">{{ question.question }}</a>
                      </th>
                  </tr>
                {% endfor %}
              </tbody>
         </table>
    </div>


</div>