{% extends "Bus_Kpi/default.html" %}
{% block pagetitle %}Approve KPI{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">BU KPIs</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div style="overflow-x:scroll">
          {% if bus %}
            {% if team_pending > 0 %}
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>BU</th>
                    <th>Approved</th>
                    <th>Pending</th>
                    <th>Rejected</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for bu in bus_kpi %}
                {% if bu is not None %}
                  {% if bu.2 > 0 %}
                      <tr>
                          <td>
                            <a href="{% url 'BUs_Approve_Kpi_Detail' bu.0.bu_id %}">{{ bu.0.bu_name }}</a>
                          </td>
                          <td>
                            {{ bu.1 }}
                          </td>
                          <td>
                            {{ bu.2 }}
                          </td>
                          <td>
                            {{ bu.3 }}
                          </td>
                          <td class="bg-info">
                            {{ bu.4 }}
                          </td>
                        </tr>
                  {% endif %}
                {% endif %}
              {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
              </table>
            {% else %}
              <div class="alert alert-warning">
                <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
                It Appears you've got no Pending KPIs from your team members
              </div>
            {% endif %}

          {% else %}
            <div class="alert alert-warning">
              <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
              It Appears you've you've got no team members
            </div>
          {% endif %}


        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}