{% extends "registration/login_out.html" %}
  {% block content %}
      {% load static %}
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <div class="login-logo" style="margin-top: -100px">
      <hr>
      <strong>Online</strong> PMS
      <hr>
    </div>
    <p class="login-box-msg"></p>
      <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Password Requirements</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {{ form.new_password1.help_text}}
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

        <div class="card-header bg-success container-fluid">
            Password Change success
        </div>
        <div class="card-body">
            <a href="{% url 'logout' %}" class="btn btn-danger float-left">Logout</a>
            <a href="{% url 'main_home' %}" class="btn btn-success float-right">Return</a>
        </div>
    <hr>
{% endblock %}