Dear {{ user.get_full_name }},

To initiate the password reset process for your {{ user.get_username }} PMS Account, click the link below:
{% autoescape off %}
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endautoescape %}
If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

============================================================================================================
Do not reply to this message, for it is system Generated
============================================================================================================

Kind regards,
Notifier, PMS

A solution of CFAO Kenya Limited.
