{% extends "registration/login_out.html" %}
  {% block content %}
    <div class="login-logo" style="margin-top: -100px">
      <hr>
        <strong>Online</strong> PMS
      <hr>
    </div>
    <p class="login-box-msg"></p>
    <p class="text-center bg-danger" style="padding: 10px; border-radius: 5px">Account Password Expired</p>
    <p class="text-center">It appears your account password has expired <br>Click on the link below to change your password</p>
    <p class="text-center"><a href="{% url 'self_change_user_password'%}">Change Password</a></p>
    <hr>
    <!-- /.social-auth-links -->
  {% endblock %}