{% extends "registration/login_out.html" %}
  {% block content %}
    <div class="login-logo" style="margin-top: -100px">
      <hr>
      <strong>Online</strong> PMS
      <hr>
    </div>
    <p class="login-box-msg"></p>


      <p class="text-center bg-success" style="padding: 10px; border-radius: 5px">Password reset request sent Successfully</p>
      <p class="text-center">If the password hasn't arrived in a few minutes, check your spam folder</p>


<hr>
    <!-- /.social-auth-links -->
  {% endblock %}