{% extends "registration/login_out.html" %}
  {% block content %}
      {% load static %}
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <div class="login-logo" style="margin-top: -100px">
      <hr>
      <strong>Online</strong> PMS
      <hr>
    </div>
    <p class="login-box-msg"></p>
      <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Password Requirements</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {{ form.new_password1.help_text}}
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      {% if form %}

        <form method="post">
            {% csrf_token %}
            <p>New Password</p>
            {{ form.new_password1 }}
            <p>Confirm Password</p>
            {{ form.new_password2 }}
            {% for error in form.errors.new_password2 %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
            <hr>
            <button class="btn btn-success">Change</button>
            <br>
            <div class="container-fluid text-center"><a type="button" data-toggle="modal" data-target="#modal-default"  href="">
                    Password Requirements
                </a>
            </div>


        </form>
      {% else %}
          <div class="container-fluid text-center"><div type="button" data-toggle="modal" data-target="#modal-default"  href="">
            It appears the session token has expired or something has gone terrribly wrong<br><br>
              Click here <a href="{% url 'password_reset' %}">Change Your Password</a>
          </div>
      {% endif %}




<hr>

  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

<script>
    $('input').addClass('form-control');
</script>
    <!-- /.social-auth-links -->
  {% endblock %}