{% extends "registration/login_out.html" %}
  {% block content %}
    <div class="login-logo" style="margin-top: -100px">
      <hr>
      <strong>Online</strong> PMS
      <hr>
    </div>
    <p class="login-box-msg"></p>


    {% if next %}
        {% if user.is_authenticated %}
            <p class="bg-danger">Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
        {% endif %}
    {% endif %}
      {% if form.email.errors %}
          {% for error in form.email.errors %}
            <p class="bg-danger text-center">{{ error }}</p>
          {% endfor %}
      {% endif %}
      <p class="text-center">Please enter your email here for Password reset</p>
    <form action="" method="post">
      {% csrf_token %}

      <div class="input-group mb-3">
          <input type="email" class="form-control" id="id_username" name="email" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block" value="login">Reset Password</button><input type="hidden" name="next" value="{{ next }}" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>

        <!-- /.col -->
      </div>
    </form>
<hr>
    <!-- /.social-auth-links -->
  {% endblock %}