{% extends "toyota_kenya/default.html" %}
{% block pagetitle %}My KPI{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-2">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <h2 class="profile-username text-center">MY KPIs</h2>
        <hr>
        <br>
        <p class="text-center">
          Submission Timeframe<br>
          <small>{{ pms.pms_individual_submit_start_date }} - {{ pms.pms_individual_submit_end_date }}</small>
        </p>
        <br>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <a href="{% url 'toyota_kenya:Individual_Kpi_Submit' %}" class="btn btn-primary btn-block"><b>Submit KPI</b></a>
            <a href="{% url 'toyota_kenya:Individual_Kpi_Detail1' %}" class="btn btn-primary btn-block"><b>Track/Edit KPI</b></a>
            <a href="{% url 'toyota_kenya:Individual_Kpi_Result' %}" class="btn btn-primary btn-block"><b>KPI Results</b></a>
          </li>
        </ul>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{% url 'toyota_kenya:Individual_Kpi_Detail1' %}">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Submitted</span>
              <span class="info-box-number">{{ submitted_count }} KPIs</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                <small>Required no of KPIs submitted</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{% url 'toyota_kenya:Individual_Kpi_Detail1' %}">
          <div class="info-box bg-success">
            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Approved</span>
              <span class="info-box-number">{{ approved2_kpi.count }} KPIs</span>

              <div class="progress">
                <div class="progress-bar" style="width:100%"></div>
              </div>
              <span class="progress-description">
                <small>Approved KPIs in all levels</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{% url 'toyota_kenya:Individual_Kpi_Detail1' %}">
          <div class="info-box bg-warning">
            <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Pending</span>
              <span class="info-box-number">{{ pending_count }} KPIs</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                <small>Total Pending KPIs</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{% url 'toyota_kenya:Individual_Kpi_Detail1' %}">
          <div class="info-box bg-danger">
            <span class="info-box-icon"><i class="fas fa-thumbs-down"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Rejected</span>
              <span class="info-box-number">{{ rejected_count }} KPIs</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                <small>Total Rejected KPIs</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">My KPIs</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div style="overflow-x:scroll">
          {% if my_kpi %}
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>KPI</th>
                <th>Function</th>
                <th>Target</th>
                <th>Status</th>
                <th>Calculation</th>
                <th>Weight</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
              </tr>
              </thead>
              <tbody>
            {% for kpi in my_kpi %}
              {% if kpi.individual_kpi_status == "Approved 2" %}
                <tr>
                  <td rowspan="2">
                    {{ kpi.individual_kpi_title }}
                  </td>
                  <td rowspan="2">
                    {{ kpi.individual_kpi_function }}
                  </td>
                  <td rowspan="2">
                    {{ kpi.individual_kpi_target }}
                  </td>
                  <td rowspan="2">
                     {{ kpi.individual_kpi_status }}
                  </td>
                  <td rowspan="2">
                    {{ kpi.individual_kpi_type }}
                  </td>
                  <td rowspan="2">
                    {{ kpi.individual_kpi_weight }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_april_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_may_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_june_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_july_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_august_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_september_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_october_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_november_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_december_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_january_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_february_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_march_score }}
                  </td>
                </tr>
                <tr>

                    {% if kpi.individual_kpi_april_score_approve == 'Approved' %}
                        <td class="text-center bg-success">
                            <i class="fa fa-check-circle"></i>
                        </td>
                    {% else %}
                        <td class="text-center bg-gray-light">
                            --
                        </td>
                    {% endif %}

                    {% if kpi.individual_kpi_may_score_approve == 'Approved' %}
                        <td class="text-center bg-success">
                            <i class="fa fa-check-circle"></i>
                        </td>
                    {% else %}
                        <td class="text-center bg-gray-light">
                            --
                        </td>
                    {% endif %}

                    {% if kpi.individual_kpi_june_score_approve == 'Approved' %}
                        <td class="text-center bg-success">
                            <i class="fa fa-check-circle"></i>
                        </td>
                    {% else %}
                        <td class="text-center bg-gray-light">
                            --
                        </td>
                    {% endif %}

                    {% if kpi.individual_kpi_july_score_approve == 'Approved' %}
                        <td class="text-center bg-success">
                            <i class="fa fa-check-circle"></i>
                        </td>
                    {% else %}
                        <td class="text-center bg-gray-light">
                            --
                        </td>
                    {% endif %}


                    {% if kpi.individual_kpi_august_score_approve == 'Approved' %}
                        <td class="text-center bg-success">
                            <i class="fa fa-check-circle"></i>
                        </td>
                    {% else %}
                        <td class="text-center bg-gray-light">
                            --
                        </td>
                    {% endif %}

                    {% if kpi.individual_kpi_september_score_approve == 'Approved' %}
                        <td class="text-center bg-success">
                            <i class="fa fa-check-circle"></i>
                        </td>
                    {% else %}
                        <td class="text-center bg-gray-light">
                            --
                        </td>
                    {% endif %}

                    {% if kpi.individual_kpi_october_score_approve == 'Approved' %}
                        <td class="text-center bg-success">
                            <i class="fa fa-check-circle"></i>
                        </td>
                    {% else %}
                        <td class="text-center bg-gray-light">
                            --
                        </td>
                    {% endif %}

                    {% if kpi.individual_kpi_november_score_approve == 'Approved' %}
                        <td class="text-center bg-success">
                            <i class="fa fa-check-circle"></i>
                        </td>
                    {% else %}
                        <td class="text-center bg-gray-light">
                            --
                        </td>
                    {% endif %}

                    {% if kpi.individual_kpi_december_score_approve == 'Approved' %}
                        <td class="text-center bg-success">
                            <i class="fa fa-check-circle"></i>
                        </td>
                    {% else %}
                        <td class="text-center bg-gray-light">
                            --
                        </td>
                    {% endif %}

                    {% if kpi.individual_kpi_january_score_approve == 'Approved' %}
                        <td class="text-center bg-success">
                            <i class="fa fa-check-circle"></i>
                        </td>
                    {% else %}
                        <td class="text-center bg-gray-light">
                            --
                        </td>
                    {% endif %}

                    {% if kpi.individual_kpi_february_score_approve == 'Approved' %}
                        <td class="text-center bg-success">
                            <i class="fa fa-check-circle"></i>
                        </td>
                    {% else %}
                        <td class="text-center bg-gray-light">
                            --
                        </td>
                    {% endif %}

                    {% if kpi.individual_kpi_march_score_approve == 'Approved' %}
                        <td class="text-center bg-success">
                            <i class="fa fa-check-circle"></i>
                        </td>
                    {% else %}
                        <td class="text-center bg-gray-light">
                            --
                        </td>
                    {% endif %}

                </tr>
              {% endif %}
            {% endfor %}
            {% for kpi in my_kpi %}
              {% if kpi.individual_kpi_status != "Approved 2" %}
                <tr>
                  <td >
                    {{ kpi.individual_kpi_title }}
                  </td>
                  <td >
                    {{ kpi.individual_kpi_function }}
                  </td>
                  <td >
                    {{ kpi.individual_kpi_target }}
                  </td>
                  <td >
                     {{ kpi.individual_kpi_status }}
                  </td>
                  <td >
                    {{ kpi.individual_kpi_type }}
                  </td>
                  <td >
                    {{ kpi.individual_kpi_weight }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_april_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_may_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_june_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_july_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_august_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_september_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_october_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_november_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_december_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_january_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_february_score }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_march_score }}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
              </tbody>
              <tfoot>

              </tfoot>
            </table>
          {% else %}
            <div class="alert alert-warning">
              <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
              It Appears you've not submitted any KPIs. Or all of them have been declined
            </div>
          {% endif %}
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
{% endblock %}

