{% extends "default.html" %}
{% block pagetitle %}Submit KPI{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $(function() {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
          });
          toastr.success('{{ message }}');
        });
      </script>
    {% endfor %}
{% endif %}
<div class="row">
  <div class="col-md-2">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <h2 class="profile-username text-center">Submit KPIs</h2>
        <hr>
        <br>
         <div class="info-box bg-info">
          <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

          <div class="info-box-content">
            <span class="info-box-number">{{ total_submitted }} <small> out of </small> {{ active_pms.pms_individual_kpi_number }}</span>
            <div class="progress">
              <div class="progress-bar" style="width: {{ percent_submitted }}%"></div>
            </div>
            <span class="progress-description">
              <small>Submitted</small>
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <p class="text-center">
          Submission Timeframe<br>
          <small>{{ active_pms.pms_individual_submit_start_date }} - {{ active_pms.pms_individual_submit_end_date }}</small>
        </p>
        <br>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <a href="#" class="btn btn-primary btn-block"><b>My KPI Dashboard</b></a>
            <a href="#" class="btn btn-primary btn-block"><b>Submit KPI</b></a>
            <a href="#" class="btn btn-primary btn-block"><b>Edit KPI</b></a>
            <a href="#" class="btn btn-primary btn-block"><b>Track KPI</b></a>
            <a href="#" class="btn btn-primary btn-block"><b>KPI Results</b></a>
          </li>
        </ul>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">New KPI</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
              <!-- /.card-header -->
              <div class="card-body">
                {% if my_kpi %}
                  <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>KPI</th>
                    <th>Function</th>
                    <th>Target</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                {% for kpi in my_kpi %}
                  {% if kpi.individual_kpi_status != "Rejected" %}
                    <tr>
                      <td>
                        <a href="% url 'kpi' kpi.pk %"> {{ kpi.individual_kpi_title }} </a>
                      </td>
                      <td>
                        {{ kpi.individual_kpi_function }}
                      </td>
                      <td>
                        {{ kpi.individual_kpi_target }}
                      </td>
                      {% if kpi.individual_kpi_status == "Pending" %}
                        <td class="bg-warning">
                          {{ kpi.individual_kpi_status }}
                        </td>
                      {% else %}
                        <td>
                          {{ kpi.individual_kpi_status }}
                        </td>
                      {% endif %}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
                  </tbody>
                  <tfoot>

                  </tfoot>
                </table>
                {% else %}
                  <div class="alert alert-warning">
                    <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
                    It Appears you've not submitted any KPIs. Or all of them have been declined
                  </div>
                {% endif %}
              </div>
              <!-- /.card-body -->
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}