{% extends "tydia/default.html" %}
{% block pagetitle %}Staff CI Dashboard{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-2">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <hr>
        <br>
        <br>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <a href="{% url 'tydia:Staff_Approve_CI' %}" class="btn btn-primary btn-block"><b>Approve CI {% if ci_pending_count > 0 %} <span class="badge badge-danger float-right">{{ ci_pending_count }}</span>{% endif %}</b></a>
            <a href="{% url 'tydia:Staff_Track_CI' %}" class="btn btn-primary btn-block"><b>Track CI</b></a>
          </li>
        </ul>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{% url 'tydia:Individual_Kpi_Detail1' %}">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Team Menbers</span>
              <span class="info-box-number">{{ team_members.count }}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                <small>Number of ream members</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{% url 'tydia:Individual_Kpi_Detail1' %}">
          <div class="info-box bg-success">
            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Approved</span>
              <span class="info-box-number">{{ ci_approved_count }} Staff</span>

              <div class="progress">
                <div class="progress-bar" style="width:100%"></div>
              </div>
              <span class="progress-description">
                <small>Members with CIs approved</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{% url 'tydia:Individual_Kpi_Detail1' %}">
          <div class="info-box bg-warning">
            <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Pending</span>
              <span class="info-box-number">{{ ci_pending_count }} Staff</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                <small>Members with CIs pending</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{% url 'tydia:Individual_Kpi_Detail1' %}">

          <div class="info-box bg-danger">
            <span class="info-box-icon"><i class="fas fa-thumbs-down"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Zero</span>
              <span class="info-box-number">{{ ci_zero_count }} Staff</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                <small>Members with no CIs</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">My Staff Check-Ins</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div style="overflow-x:scroll">
          {% if team_members %}
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Staff</th>
                <th>PF</th>
                <th>Approved</th>
                <th>Pending 1</th>
                <th>Rejected</th>
                <th>Total(Excl Rejected)</th>
              </tr>
              </thead>
              <tbody>
            {% for member in staff_n_ci %}
              {% if member is not None %}
                <tr>
                  <td>
                    {{ member.0 }}
                  </td>
                  <td>
                    {{ member.2 }}
                  </td>
                  <td>
                    {{ member.3 }}
                  </td>
                  <td>
                    {{ member.4 }}
                  </td>
                  <td>
                    {{ member.5 }}
                  </td>
                  <td>
                    {{ member.6 }}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
              </tbody>
              <tfoot>

              </tfoot>
            </table>
          {% else %}
            <div class="alert alert-warning">
              <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
              It Appears you've you've got no team members
            </div>
          {% endif %}

        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": false,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}

