<!-- KPI Form -->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            {{ user.get_full_name }} User Account<div class="float-right btn btn-warning"><a href="{% url 'cfao_kenya:Admin_Users_Delete' user.id %}">Delete</a></div>
            {{ pms.pms_name }} <div class="float-right btn btn-danger"><a href="{% url 'cfao_kenya:Admin_Users_Edit' user.id %}">Edit</a></div>
        </div>
         <table class="table table-bordered table-hover">
              <tbody>
                  <tr>
                      <th>
                          Name
                      </th>
                      <td>
                          {{ user.get_full_name }}
                      </td>
                  </tr>
                  <tr>
                      <th>
                          Email
                      </th>
                      <td>
                          {{ user.email }}
                      </td>
                  </tr>
                  <tr>
                      <th>
                          Username
                      </th>
                      <td>
                          {{ user.username }}
                      </td>
                  </tr>
                  <tr>
                      <th>
                          Superuser
                      </th>
                      <td>
                          {{ user.is_superuser }}
                      </td>
                  </tr>
                  <tr>
                      <th>
                          Active
                      </th>
                      <td>
                          {{ user.is_active}}
                      </td>
                  </tr>
              </tbody>
         </table>
    </div>
       <div class="card">
        <div class="card-header">
            {{ user.get_full_name }} Staffs Account
            {% if not staff_accounts %}
                <a href="{% url 'cfao_kenya:Admin_Staff_Create' user.id %}"><div class="float-right btn btn-info">New Staff Account</div></a>
            {% else %}
                <p class="bg-info">User can only have one Staff account in a given company</p>
            {% endif %}
        </div>
         <table class="table table-bordered table-hover">
              <tbody>
                  {% if not staff_accounts %}
                      <p class="text-center"> User does not have a staff account to this company</p>
                  {% endif %}

                  {% for staff in staff_accounts %}
                      <tr>
                        <th colspan="2">Actions</th>
                        <th>PF</th>
                        <th>Grade</th>
                        <th>Category</th>
                        <th>Active</th>
                        <th>Visibility</th>
                        <th>SuperUser</th>
                      </tr>
                      <tr>
                          <td><a href="{% url 'cfao_kenya:Admin_Staff_Edit' staff.staff_id %}">Edit</a></td>
                          <td><a href="{% url 'cfao_kenya:Admin_Staff_Delete' staff.staff_id %}">Delete</a></td>
                        <td>{{ staff.staff_Pf_Number }}</td>
                        <td>{{ staff.staff_grade }}</td>
                        <td>{{ staff.staff_category }}</td>
                        <td>{{ staff.staff_active }}</td>
                        <td>{{ staff.staff_visibility }}</td>
                        <td>{{ staff.staff_superuser }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
         </table>
    </div>
</div>