{% extends "Staff_Kpi/default.html" %}
{% block pagetitle %}View KPI{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{ staff.get_full_name }}'s one KPI</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        {% if my_kpi %}
          {% for kpi in my_kpi %}
            {% if kpi.individual_kpi_status == "Pending" %}
              <table id="example1" class="table table-bordered table-striped">
              <tbody>
                <tr class="bg-info">
                  <td colspan="4">
                    {{ kpi.individual_kpi_title }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Description
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_details }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Criteria
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_criteria }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Function
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_function }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Target
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_target }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Status
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_status }}
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="card-footer">
              <div class="float-right" style="margin:5px">
                <a href="{% url 'Staff_Reject_Individual_Kpi' staff.id  kpi.individual_kpi_id  %}"><button type="reset" class="btn btn-danger btn-block">Reject</button></a>
              </div>
              <div class="float-right" style="margin:5px">
                <a href="{% url 'Staff_Approve_Individual_Kpi' staff.id  kpi.individual_kpi_id  %}"><button type="submit" class="btn btn-primary btn-block" id="submit_kpi_button">Approve</button></a>
              </div>
            </div>
            {% elif kpi.individual_kpi_status == "Rejected 1" or kpi.individual_kpi_status == "Rejected 2" %}
              <table id="example1" class="table table-bordered table-striped">
              <tbody>
                <tr class="bg-info">
                  <td colspan="4">
                    {{ kpi.individual_kpi_title }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Description
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_details }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Criteria
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_criteria }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Function
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_function }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Target
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_target }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Status
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_status }}
                  </td>
                </tr>
              </tbody>
            </table>
            {% elif kpi.individual_kpi_status == "Approved 1" %}
              <table id="example1" class="table table-bordered table-striped">
              <tbody>
                <tr class="bg-info">
                  <td colspan="4">
                    {{ kpi.individual_kpi_title }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Description
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_details }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Criteria
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_criteria }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Function
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_function }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Target
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_target }}
                  </td>
                </tr>
                <tr>
                  <th>
                    Status
                  </th>
                  <td colspan="3">
                    {{ kpi.individual_kpi_status }}
                  </td>
                </tr>
              </tbody>
            </table>
            {% if user_is_bu_head is not None or user_is_md is not None%}
            <div class="card-footer">
              <div class="float-right" style="margin:5px">
                <a href="{% url 'Staff_Reject_Individual_Kpi' staff.id  kpi.individual_kpi_id  %}"><button type="reset" class="btn btn-danger btn-block">Reject</button></a>
              </div>
              <div class="float-right" style="margin:5px">
                <a href="{% url 'Staff_Approve_Individual_Kpi' staff.id  kpi.individual_kpi_id  %}"><button type="submit" class="btn btn-primary btn-block" id="submit_kpi_button">Approve</button></a>
              </div>
            </div>
            {% endif %}
          {% else %}
            <div class="card-body">
            <div class="row">
            <div class="col-md-4">
                <table class="table table-bordered table-striped">
                  <tbody>
                    <tr>
                      <th>
                        Apr
                      </th>
                      <td>
                          {{ kpi.individual_kpi_april_score }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        May
                      </th>
                      <td>
                          {{ kpi.individual_kpi_may_score }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Jun
                      </th>
                      <td>
                          {{ kpi.individual_kpi_june_score }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Jul
                      </th>
                      <td>
                          {{ kpi.individual_kpi_july_score }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Aug
                      </th>
                      <td>
                          {{ kpi.individual_kpi_august_score }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Sep
                      </th>
                      <td>
                          {{ kpi.individual_kpi_september_score }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Oct
                      </th>
                      <td>
                          {{ kpi.individual_kpi_october_score }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Nov
                      </th>
                      <td>
                          {{ kpi.individual_kpi_november_score }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Dec
                      </th>
                      <td>
                          {{ kpi.individual_kpi_december_score }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Jan
                      </th>
                      <td>
                          {{ kpi.individual_kpi_january_score }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Feb
                      </th>
                      <td>
                          {{ kpi.individual_kpi_february_score }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Mar
                      </th>
                      <td>
                          {{ kpi.individual_kpi_march_score }}
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <!-- LINE CHART -->
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Progress Over time</h3>
                  </div>
                  <div class="card-body">
                    <div class="chart">
                      <canvas id="lineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                    </div>
                  </div>
                  <!-- /.card-body -->
                </div>

                <table id="exam1" class="table table-bordered table-striped">
                  <tbody>
                    <tr>
                      <th>
                        KPI
                      </th>
                      <td colspan="3">
                        {{ kpi.individual_kpi_title }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Description
                      </th>
                      <td colspan="3">
                        {{ kpi.individual_kpi_details }}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Criteria
                      </th>
                      <td colspan="3">
                        {{ kpi.individual_kpi_criteria }}
                      </td>
                    </tr>
                    <tr class="bg-info">
                      <th>
                        Function
                      </th>
                      <th>
                        Target
                      </th>
                      <th>
                        Status
                      </th>
                      <th>
                        Submit Date
                      </th>
                    </tr>
                    <tr>
                      <td>
                        {{ kpi.individual_kpi_function }}
                      </td>
                      <td>
                        {{ kpi.individual_kpi_target }}
                      </td>
                      <td>
                        {{ kpi.individual_kpi_status }}
                      </td>
                      <td>
                        {{ kpi.individual_kpi_submit_date }}
                      </td>
                    </tr>

                  </tbody>
                </table>

                <script>
                  $(function () {

                    //-------------
                    //- LINE CHART -
                    //--------------

                    //Values
                    var april = "{{kpi.individual_kpi_april_score}}";
                    var may = "{{kpi.individual_kpi_april_score}}";
                    var june = "{{kpi.individual_kpi_april_score}}";
                    var july = "{{kpi.individual_kpi_april_score}}";
                    var august = "{{kpi.individual_kpi_april_score}}";
                    var september = "{{kpi.individual_kpi_april_score}}";
                    var october = "{{kpi.individual_kpi_april_score}}";
                    var november = "{{kpi.individual_kpi_april_score}}";
                    var december = "{{kpi.individual_kpi_april_score}}";
                    var january = "{{kpi.individual_kpi_april_score}}";
                    var february = "{{kpi.individual_kpi_april_score}}";
                    var march = "{{kpi.individual_kpi_april_score}}";


                    var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
                    var lineChartOptions = {
                      maintainAspectRatio : false,
                      responsive : true,
                      legend: {
                        display: false
                      },
                      scales: {
                        xAxes: [{
                          gridLines : {
                            display : false,
                          }
                        }],
                        yAxes: [{
                          gridLines : {
                            display : false,
                          }
                        }]
                      }
                    }
                    var lineChartData = {
                      labels  : ['Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar' ],
                      datasets: [
                        {
                          label               : 'Target',
                          backgroundColor     : 'rgba(60,141,188,0.9)',
                          borderColor         : 'rgba(60,141,188,0.8)',
                          pointRadius          : false,
                          pointColor          : '#3b8bba',
                          pointStrokeColor    : 'rgba(60,141,188,1)',
                          pointHighlightFill  : '#fff',
                          pointHighlightStroke: 'rgba(60,141,188,1)',
                          data                : [{{ kpi.individual_kpi_target }}, {{ kpi.individual_kpi_target }}, {{ kpi.individual_kpi_target }}, {{ kpi.individual_kpi_target }}, {{ kpi.individual_kpi_target }}, {{ kpi.individual_kpi_target }}, {{ kpi.individual_kpi_target }}, {{ kpi.individual_kpi_target }}, {{ kpi.individual_kpi_target }}, {{ kpi.individual_kpi_target }}, {{ kpi.individual_kpi_target }}, {{ kpi.individual_kpi_target }}]
                        },
                        {
                          label               : 'Electronics',
                          backgroundColor     : 'rgba(210, 214, 222, 1)',
                          borderColor         : 'rgba(210, 214, 222, 1)',
                          pointRadius         : false,
                          pointColor          : 'rgba(210, 214, 222, 1)',
                          pointStrokeColor    : '#c1c7d1',
                          pointHighlightFill  : '#fff',
                          pointHighlightStroke: 'rgba(220,220,220,1)',
                          data                : ['{{ kpi.individual_kpi_april_score }}', '{{ kpi.individual_kpi_may_score }}', '{{ kpi.individual_kpi_june_score }}', '{{ kpi.individual_kpi_july_score }}', '{{ kpi.individual_kpi_august_score }}', '{{ kpi.individual_kpi_september_score }}', '{{ kpi.individual_kpi_october_score }}', '{{ kpi.individual_kpi_november_score }}', '{{ kpi.individual_kpi_december_score }}', '{{ kpi.individual_kpi_january_score }}', '{{ kpi.individual_kpi_february_score }}', '{{ kpi.individual_kpi_march_score }}' ]
                        },
                      ]
                    }
                    lineChartData.datasets[0].fill = false;
                    lineChartData.datasets[1].fill = false;
                    lineChartOptions.datasetFill = false

                    var lineChart = new Chart(lineChartCanvas, {
                      type: 'line',
                      data: lineChartData,
                      options: lineChartOptions
                    })
                  })
                </script>
            </div>
        </div>


            </div>
          {% endif %}
          {% endfor %}
        {% else %}
          <div class="alert alert-warning">
            <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
            It Appears {{ staff.get_full_name }} has no pending KPIs
          </div>
        {% endif %}
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}