{% extends "tydia/Admin/default.html" %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">PMS</span>
              <span class="info-box-number">{{ pms.count }} PMS</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                <small>No of set PMS</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">BUs</span>
              <span class="info-box-number">{{ bus.count }} PMS</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                <small>No of set PMS</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Teams</span>
              <span class="info-box-number">{{ teams.count }} KPIs</span>

              <div class="progress">
                <div class="progress-bar" style="width:100%"></div>
              </div>
              <span class="progress-description">
                <small>Approved KPIs in all levels</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Users</span>
              <span class="info-box-number">{{ staff.count }} Staff</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                <small>Total Pending KPIs</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <!-- /.col -->
    </div>
    <div class="card">
      <div class="card-header">
      </div>
      <!-- /.card-header -->

      <div class="card-body">
      <a href="{% url 'tydia:Admin_PMS_New' %}" class="btn btn-success"><i class="fa fa-shopping-basket" style=""> New PMS</i></a><br><br>

        <div style="overflow-x:scroll">
          {% if pms %}
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>PMS</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              {% for p in pms %}
                  <tr>
                    <td>
                        <a href="{% url 'tydia:Admin_PMS' p.pms_id %}">{{ p.pms_name }}</a>
                    </td>
                    <td>
                        {{ p.pms_start_date }}
                    </td>
                    <td>
                        {{ p.pms_end_date }}
                    </td>
                    <td>
                        {{ p.pms_status }}
                    </td>
                  </tr>
              {% endfor %}
              </tbody>
              <tfoot>

              </tfoot>
            </table>
          {% else %}
            <div class="alert alert-warning">
              <h5><i class="icon fas fa-ban"></i> No PMS found</h5>
              It Appears your company has no set PMS
            </div>
          {% endif %}
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}

