<!-- KPI Form -->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <b>{{ CheckIn.checkIn_month }} CheckIn</b>
            {% if CheckIn.checkIn_status == 'Pending' or CheckIn.checkIn_status == 'Edit' %}
                <a href="{% url 'cfao_kenya:My_CheckIn_Delete' CheckIn.checkIn_id %}"><div class="float-right btn btn-danger" style="margin-right: 10px">Delete</div></a>
                <a href="{% url 'cfao_kenya:My_CheckIn_Edit' CheckIn.checkIn_id %}"><div class="float-right btn btn-warning" style="margin-right: 10px">Edit</div></a>
            {% endif %}
        </div>
        <table class="table table-bordered">
              <tbody>
                  <tr class="bg-color2">
                      <th>
                          Status
                      </th>
                      <th>
                          Submit Date
                      </th>
                      <th>
                          Approval Date
                      </th>
                      <th>
                          Appprover
                      </th>
                  </tr>
                  <tr>
                      <td>
                          {{ CheckIn.checkIn_status }}
                      </td>
                      <td>
                          {{ CheckIn.checkIn_submit_date }}
                      </td>
                      <td>
                          {{ CheckIn.checkIn_approval_date }}
                      </td>
                      <td>
                          {{ CheckIn.checkIn_approver }}
                      </td>
                  </tr>
              </tbody>
         </table>
         <table class="table table-bordered table-hover">
              <tbody>
                  <tr>
                      <th>
                          Perfomance Areas
                      </th>
                      <td>
                          {{ CheckIn.checkIn_performance_area }}
                      </td>
                  </tr>

                  <tr>
                      <th>
                          Progress Discussed
                      </th>
                      <td>
                          {{ CheckIn.checkIn_progress_discussed }}
                      </td>
                  </tr>

                  <tr>
                      <th>
                          Perfomance Areas
                      </th>
                      <td>
                          {{ CheckIn.checkIn_team_member_actions }}
                      </td>
                  </tr>

                  <tr>
                      <th>
                          Perfomance Areas
                      </th>
                      <td>
                          {{ CheckIn.checkIn_team_leader_support }}
                      </td>
                  </tr>

                  <tr>
                      <th>
                          Team Leader Comment
                      </th>
                      <td>
                          {{ CheckIn.checkIn_team_leader_comment }}
                      </td>
                  </tr>

              </tbody>
         </table>

    </div>
</div>