{% extends "default.html" %}
{% block content %}

{% if messages %}
    {% for message in messages %}
      <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $(function() {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
          });
          toastr.success('{{ message }}');
        });
      </script>
    {% endfor %}
{% endif %}
<div class="row">
  <div class="col-md-2">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <h2 class="profile-username text-center">ADMIN</h2>
        <hr>
        <br>
        <br>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <a href="{% url 'Admin_Dashboard' %}" class="btn btn-primary btn-block"><b>PMS</b></a>
            <a href="{% url 'Admin_Users' %}" class="btn btn-primary btn-block"><b>Users</b></a>
            <a href="{% url 'Individual_Kpi_Detail1' %}" class="btn btn-primary btn-block"><b>BU</b></a>
            <a href="{% url 'Individual_Kpi_Detail1' %}" class="btn btn-primary btn-block"><b>Teams</b></a>
          </li>
        </ul>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="col-md-10">

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Creating staff record for {{ staff.get_full_name }}</h4>
        </div>
      <div class="card-body">
        <form method="post">
            {{ form.errors }}
            {% csrf_token %}
            {{ form.staff_person.as_hidden }}
            {{ form.staff_id.as_hidden }}
        <div style="overflow-x:scroll">
            <table class="table table-bordered">
              <tbody>
                <tr class="bg-info">
                    <th colspan="4">
                        User Info
                    </th>
                </tr>
                <tr>
                    <th>
                        User
                    </th>
                    <td colspan="5">
                        {{ staff.get_full_name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Username
                    </th>
                    <td>
                        {{ staff.username }}
                    </td>
                    <th>
                        Email
                    </th>
                    <td colspan="3">
                        {{ staff.email }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Status Active
                    </th>
                    <td>
                        {{ staff.is_active }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Joined
                    </th>
                    <td>
                        {{ staff.date_joined }}
                    </td>
                    <th>
                        Last login
                    </th>
                    <td>
                        {{ staff.last_login }}
                    </td>
                </tr>
                <tr>
                    <th>
                        PF
                    </th>
                    <td>
                        {{ form.staff_Pf_Number }}
                    </td>
                    <th>
                        Last login
                    </th>
                    <td>
                        {{ staff.last_login }}
                    </td>
                </tr>
              </tbody>
          </table>
          <table class="table table-bordered">
              <tbody>
                <tr class="bg-info">
                    <th colspan="4">
                        Staff Info
                    </th>
                </tr>
                <tr>
                    <th>
                        Team
                    </th>
                    <th>
                        Dept
                    </th>
                    <th>
                        Branch
                    </th>
                    <th>
                        BU
                    </th>
                </tr>

                <tr>
                    <td>
                        {{ form.staff_team }}
                    </td>
                    <td>
                        {{ form.staff_department }}
                    </td>
                    <td>
                        {{ form.staff_branch }}
                    </td>
                    <td>
                        {{ form.staff_bu }}
                    </td>
                </tr>
                <tr class="bg-gray">
                    <th>
                        Head Team
                    </th>
                    <th>
                        Head Dept
                    </th>
                    <th>
                        Head Branch
                    </th>
                    <th>
                        Head BU
                    </th>
                </tr>
                <tr>
                    <td>
                        {{ form.staff_team }}
                    </td>
                    <td>
                        {{ form.staff_department }}
                    </td>
                    <td>
                        {{ form.staff_branch }}
                    </td>
                    <td>
                        {{ form.staff_bu }}
                    </td>
                </tr>
              <tr class="bg-gray">
                  <th>
                      Grade
                  </th>
                  <th>
                      MD Access
                  </th>
              </tr>
              <tr>
                  <td>
                    {{ form.staff_grade }}
                  </td>
                  <td>
                      {{ form.staff_md }}
                  </td>
              </tr>

              </tbody>
          </table>
            <button type="submit" class="btn btn-success">Finish</button>
        </form>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
    <script>
        $('input').addClass('form-control')
        $('select').addClass('form-control')
        $(':checkbox').removeClass('form-control')
        $(':checkbox').removeClass('form-check-input')
        $(function () {
            $("#example1").DataTable({
              "responsive": false,
              "autoWidth": false,
            });
        });
    </script>
{% endblock %}

