{% extends "default.html" %}
{% block content %}

{% if messages %}
    {% for message in messages %}
      <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $(function() {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
          });
          toastr.success('{{ message }}');
        });
      </script>
    {% endfor %}
{% endif %}

<div class="row">
  <div class="col-md-2">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <h2 class="profile-username text-center">ADMIN</h2>
        <hr>
        <br>
        <br>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <a href="{% url 'Admin_Dashboard' %}" class="btn btn-primary btn-block"><b>PMS</b></a>
            <a href="{% url 'Admin_Users' %}" class="btn btn-primary btn-block"><b>Users</b></a>
            <a href="{% url 'Individual_Kpi_Detail1' %}" class="btn btn-primary btn-block"><b>BU</b></a>
            <a href="{% url 'Individual_Kpi_Detail1' %}" class="btn btn-primary btn-block"><b>Teams</b></a>
          </li>
        </ul>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="col-md-10">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Create New User</h4>
        </div>
        <div class="card card-danger">
            <div class="card-body card-danger bg-warning">
                {{ form.errors }}
            </div>
        </div>
      <div class="card-body">
        <form method="post">
            {% csrf_token %}
        <div style="overflow-x:scroll">
            <table>
            {{ form.as_table }}
                </table>
            <br>
            <hr>
            <button type="submit" class="btn btn-success">Save and Next</button>
            <button type="reset" class="btn btn-danger">Clear</button>
        </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
    <script>
    $('input').addClass('form-control')
  $(function () {
    $("#example1").DataTable({
      "responsive": false,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}

