{% extends "default.html" %}
{% block content %}
<div class="row">
  <div class="col-md-2">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <h2 class="profile-username text-center">ADMIN</h2>
        <hr>
        <br>
        <br>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <a href="{% url 'Individual_Kpi_Submit' %}" class="btn btn-primary btn-block"><b>PMS</b></a>
            <a href="{% url 'Individual_Kpi_Detail1' %}" class="btn btn-primary btn-block"><b>Users</b></a>
            <a href="{% url 'Individual_Kpi_Result' %}" class="btn btn-primary btn-block"><b>Results</b></a>
          </li>
        </ul>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-12">
        <a href="{% url 'Individual_Kpi_Detail1' %}">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">PMS</span>
              <span class="info-box-number">{{ pms.count }} PMS</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                <small>No of set PMS</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-4 col-sm-6 col-12">
        <a href="{% url 'Individual_Kpi_Detail1' %}">
          <div class="info-box bg-success">
            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Approved</span>
              <span class="info-box-number">{{ approved2_kpi.count }} KPIs</span>

              <div class="progress">
                <div class="progress-bar" style="width:100%"></div>
              </div>
              <span class="progress-description">
                <small>Approved KPIs in all levels</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-4 col-sm-6 col-12">
          <div class="info-box bg-warning">
            <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Users</span>
              <span class="info-box-number">{{ staff.count }} Staff</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                <small>Total Pending KPIs</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <!-- /.col -->
    </div>
    <div class="card">
      <div class="card-header">
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div style="overflow-x:scroll">
          {% if pms %}
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>PMS</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              {% for p in pms %}
                  <tr>
                    <td>
                        <a href="{% url 'Admin_PMS' p.pms_id %}">{{ p.pms_name }}</a>
                    </td>
                    <td>
                        {{ p.pms_start_date }}
                    </td>
                    <td>
                        {{ p.pms_end_date }}
                    </td>
                    <td>
                        {{ p.pms_status }}
                    </td>
                  </tr>
              {% endfor %}
              </tbody>
              <tfoot>

              </tfoot>
            </table>
          {% else %}
            <div class="alert alert-warning">
              <h5><i class="icon fas fa-ban"></i> No PMS found</h5>
              It Appears your company has no set PMS
            </div>
          {% endif %}
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
{% endblock %}

