{% extends "default.html" %}
{% block content %}
{% if messages %}
    {% for message in messages %}
      <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $(function() {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
          });
          toastr.success('{{ message }}');
        });
      </script>
    {% endfor %}
{% endif %}
<div class="row">
  <div class="col-md-2">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <h2 class="profile-username text-center">Admin</h2>
        <br>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <a href="{% url 'cfao_kenya:Admin_Dashboard' %}" class="btn btn-primary btn-block"><b>PMS</b></a>
            <a href="{% url 'cfao_kenya:Admin_Users' %}" class="btn btn-primary btn-block"><b>Users</b></a>
            <a href="{% url 'cfao_kenya:Admin_BUs' %}" class="btn btn-primary btn-block"><b>BU</b></a>
            <a href="{% url 'cfao_kenya:Admin_Teams' %}" class="btn btn-primary btn-block"><b>Teams</b></a>

          </li>
        </ul>
          {% if pms and pms.pms_id %}
          <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <a href="{% url 'cfao_kenya:Admin_PMS_Matrix' pms.pms_id %}" class="btn btn-primary btn-block"><b>Matrix</b></a>
          </li>
          <li class="list-group-item">
            <a href="{% url 'cfao_kenya:Admin_PMS_Matrix_KPI' pms.pms_id %}" class="btn btn-info btn-block"><b>KPI config</b></a>
            <a href="{% url 'cfao_kenya:Admin_PMS_Individual' pms.pms_id %}" class="btn btn-primary btn-block"><b>Ind. KPI</b></a>
            <a href="{% url 'cfao_kenya:Admin_PMS_BU' pms.pms_id %}" class="btn btn-primary btn-block"><b>BU KPI</b></a>
            <a href="{% url 'cfao_kenya:Admin_PMS_Company' pms.pms_id %}" class="btn btn-primary btn-block"><b>Company KPI</b></a>
          </li>
          <li class="list-group-item">
            <a href="{% url 'cfao_kenya:Admin_PMS_CheckIn' pms.pms_id  %}" class="btn btn-primary btn-block"><b>Check-In</b></a>
            <a href="{% url 'cfao_kenya:Admin_PMS_Assessment' pms.pms_id %}" class="btn btn-primary btn-block"><b>Assessment</b></a>

          </li>
        </ul>
      {% endif %}
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  {% block kpicontent %} {% endblock %}
    <script>
        $('input').addClass('form-control')
      $(function () {
        $("#example1").DataTable({
          "responsive": false,
          "autoWidth": false,
        });
      });
    </script>
        <script>
        $('input').addClass('form-control')
        $('select').addClass('form-control')
        $(':checkbox').removeClass('form-control')
        $(':checkbox').removeClass('form-check-input')
    </script>
</div>
{% endblock %}