{% extends "Admin/default.html" %}
{% block page_top %}<li class="breadcrumb-item"><a href="{% url 'cfaok_url_Admin_Dashboard' %}">Admin</a></li>{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">PMS <b>{{ pms.pms_name }}</b></h3>
          <div class="float-right">
            <a href="{% url 'cfaok_url_Admin_PMS_Edit' pms.pms_id %}"><button class="btn btn-info"><i class="fa fa-edit" style="">Edit</i></button></a>
            <a href="{% url 'cfaok_url_Admin_PMS_New' %}" class="btn btn-success"><i class="fa fa-shopping-basket" style=""> New</i></a>
          </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">


          <table id="example1" class="table table-bordered table-striped">
            <tbody>
              <tr>
                <th>
                  PMS
                </th>
                <td>
                  {{ pms.pms_name }}
                </td>
                  <th>
                      Status
                  </th>
                  <td>
                      {{ pms.pms_status }}
                  </td>
              </tr>
              <tr>
                <th>
                  Start
                </th>
                <td>
                  {{ pms.pms_start_date }}
                </td>
                  <th>
                      Status
                  </th>
                  <td>
                      {{ pms.pms_end_date }}
                  </td>
              </tr>
            </tbody>
          </table>
          <table id="example1" class="table table-bordered table-striped">
            <tbody>
            <tr class="bg-info">
                <th colspan="4">
                    Individual Kpi
                </th>
            </tr>
            <tr>
                <th>
                  KPI No
                </th>
                <td>
                    {{ pms.pms_individual_kpi_number}}
                </td>
                <th>
                  Submit Date
                </th>
                <td>
                    {{ pms.pms_individual_submit_results_date}}
                </td>
            </tr>
            <tr>
                <th>
                  Start Date
                </th>
                <td>
                    {{ pms.pms_individual_submit_start_date }}
                </td>
                <th>
                  End Date
                </th>
                <td>
                    {{ pms.pms_individual_submit_end_date }}
                </td>
            </tr>
            <tr class="bg-info">
                <th colspan="4">
                    BU Kpi
                </th>
            </tr>
            <tr>
                <th>
                  KPI No
                </th>
                <td>
                    {{ pms.pms_bu_kpi_number}}
                </td>
                <th>
                  Submit Date
                </th>
                <td>
                    {{ pms.pms_bu_submit_result_date}}
                </td>
            </tr>
            <tr>
                <th>
                  Start Date
                </th>
                <td>
                    {{ pms.pms_bu_submit_start_date }}
                </td>
                <th>
                  End Date
                </th>
                <td>
                    {{ pms.pms_bu_submit_end_date }}
                </td>
            </tr>
            <tr class="bg-info">
                <th colspan="4">
                    Company Kpi
                </th>
            </tr>
            <tr>
                <th>
                  KPI No
                </th>
                <td>
                    {{ pms.pms_company_kpi_number}}
                </td>
                <th>
                  Submit Date
                </th>
                <td>
                    {{ pms.pms_company_submit_result_date}}
                </td>
            </tr>
            <tr>
                <th>
                  Start Date
                </th>
                <td>
                    {{ pms.pms_company_submit_start_date }}
                </td>
                <th>
                  End Date
                </th>
                <td>
                    {{ pms.pms_company_submit_end_date }}
                </td>
            </tr>
            </tbody>
          </table>
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}