{% extends "cfao_agri/Admin/default.html" %}
{% block page_top %}
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'cfao_kenya:Admin_Dashboard' %}">Admin</a></li>
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'cfao_kenya:Admin_PMS_CheckIn' pms.pms_id %}">Staff</a></li>
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'cfao_kenya:Admin_PMS_CheckIn_Staff' pms.pms_id  staff.staff_person.id %}">{{ staff.staff_person.get_full_name }}</a></li>{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">PMS <b>{{ pms.pms_name }}</b></h3>
          <form action="" method="post" id="submit_kpi_form">
          {% csrf_token %}
          <div class="float-right">
              <button type="submit" class="btn btn-info"><i class="fa fa-save" style=""> Save</i></button>
              <a href="{% url 'cfao_kenya:Admin_PMS_Individual_Staff_New' pms.pms_id staff.staff_person.id %}" class="btn btn-success"><i class="fa fa-shopping-basket" style=""> New</i></a>
          </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
          <table class="table table-bordered">
              <tbody>
                <tr class="bg-info">
                    <th colspan="4">
                        User Info
                    </th>
                </tr>
                <tr>
                    <th>
                        Staff
                    </th>
                    <td>
                        {{ staff.staff_person.get_full_name }}
                    </td>
                    <th>
                        PF
                    </th>
                    <td>
                        {{ staff.staff_Pf_Number }}
                    </td>
                </tr>

              </tbody>
          </table>

          {{ form.checkIn_id.as_hidden}}
          {{ form.checkIn_pms.as_hidden}}
          {{ form.checkIn_staff.as_hidden}}
          {{ form.checkIn_team_leader.as_hidden}}
          {{ form.checkIn_submit_date.as_hidden}}


          <br>
          <table class="table table-bordered">

              <thead><tr class="bg-info">
                    <th colspan="4">
                        Check-In Info
                    </th>
                </tr>
                <tr>
                    <th>
                        Check-In
                    </th>
                    <td>
                        {{ form.checkIn_month }}
                    </td>
                    <th>
                        Status
                    </th>
                    <td>
                        {{ form.checkIn_status }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Performance Areas
                    </th>
                    <td colspan="3">
                        {{ form.checkIn_performance_area }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Progress Discussed
                    </th>
                    <td colspan="3">
                        {{ form.checkIn_progress_discussed}}
                    </td>
                </tr>
                <tr>
                    <th>
                        Team Member Actions
                    </th>
                    <td colspan="3">
                        {{ form.checkIn_team_member_actions }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Team Leader Support
                    </th>
                    <td colspan="3">
                        {{ form.checkIn_team_leader_support }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Team Leader Comment
                    </th>
                    <td colspan="3">
                        {{ form.checkIn_team_leader_comment }}
                    </td>
                </tr>
              </thead>
          </table>
         <br>

        </form>
          <br>
          <br>
          <br>
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>
    <script>
        $( "input" ).addClass( 'form-control');
        $( "textarea" ).addClass( 'form-control');
        $( "select" ).addClass( 'form-control');
    </script>

{% endblock %}