{% extends "cfao_agri/Admin/default.html" %}
{% block page_top %}
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'cfao_kenya:Admin_Dashboard' %}">Admin</a></li>{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">PMS <b>{{ pms.pms_name }}</b></h3>
          <div class="float-right">
            <a href="{% url 'cfao_kenya:Admin_PMS_New' %}" class="btn btn-success"><i class="fa fa-shopping-basket" style=""> New</i></a>
          </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
          <table class="table table-bordered">
              <tbody>
                <tr class="bg-info">
                    <th colspan="4">
                        User Info
                    </th>
                </tr>
                <tr>
                    <th>
                        User
                    </th>
                    <td colspan="5">
                        {{ staff.staff_person.get_full_name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Username
                    </th>
                    <td>
                        {{ staff.staff_person.username }}
                    </td>
                    <th>
                        Email
                    </th>
                    <td colspan="3">
                        {{ staff.staff_person.email }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Status Active
                    </th>
                    <td>
                        {{ staff.staff_person.is_active }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Joined
                    </th>
                    <td>
                        {{ staff.staff_person.date_joined }}
                    </td>
                    <th>
                        Last login
                    </th>
                    <td>
                        {{ staff.staff_person.last_login }}
                    </td>
                </tr>
              </tbody>
          </table>
          <table class="table table-bordered">
              <tbody>
                <tr class="bg-info">
                    <th colspan="4">
                        Staff Info
                    </th>
                </tr>
                <tr>
                    <th>
                        Team
                    </th>
                    <th>
                        Dept
                    </th>
                    <th>
                        Branch
                    </th>
                    <th>
                        BU
                    </th>
                </tr>

                <tr>
                    <td>
                        {{ staff.staff_team }}
                    </td>
                    <td>
                        {{ staff.staff_department }}
                    </td>
                    <td>
                        {{ staff.staff_branch }}
                    </td>
                    <td>
                        {{ staff.staff_bu }}
                    </td>
                </tr>
                <tr class="bg-gray">
                    <th>
                        Head Team
                    </th>
                    <th>
                        Head Dept
                    </th>
                    <th>
                        Head Branch
                    </th>
                    <th>
                        Head BU
                    </th>
                </tr>
                <tr>
                    <td>
                        {{ staff.staff_team }}
                    </td>
                    <td>
                        {{ staff.staff_department }}
                    </td>
                    <td>
                        {{ staff.staff_branch }}
                    </td>
                    <td>
                        {{ staff.staff_bu }}
                    </td>
                </tr>
              <tr class="bg-gray">
                  <th>
                      Grade
                  </th>
                  <th>
                      MD Access
                  </th>
              </tr>
              <tr>
                  <td>
                    {{ staff.staff_grade }}
                  </td>
                  <td>
                      {{ staff.staff_md }}
                  </td>
              </tr>

              </tbody>
          </table>

        </form>
          <br>
          <br>
          <br>
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}