{% extends "Admin/default.html" %}
{% block page_top %}
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'cfaok_url_Admin_Dashboard' %}">Admin</a></li>{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">KPI Config</h3>
          </div>

      <!-- /.card-header -->
      <div class="card-body">
        <div class="float-right">
           <a href="{% url 'cfaok_url_Admin_PMS_Matrix_KPI_New' pms.pms_id %}" class="btn btn-success"><i class="fa fa-shopping-basket" style=""> New</i></a>
        </div>
        <br>
        <br>
          <table id="example" class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="13" class="bg-info">
                        KPI Matrix
                    </th>
                </tr>
                <tr>
                    <th>
                        Matrix Class
                    </th>
                    <th>
                        April
                    </th>
                    <th>
                        May
                    </th>
                    <th>
                        June
                    </th>
                    <th>
                        July
                    </th>
                    <th>
                        August
                    </th>
                    <th>
                        September
                    </th>
                    <th>
                        October
                    </th>
                    <th>
                        November
                    </th>
                    <th>
                        December
                    </th>
                    <th>
                        January
                    </th>
                    <th>
                        February
                    </th>
                    <th>
                        March
                    </th>
                </tr>
                </tr>
            </thead>
            <tbody>
                  {% if kpi_matrix %}
                      {% for kpi in kpi_matrix %}
                          <tr>
                              <td><a href="{% url 'cfaok_url_Admin_PMS_Matrix_KPI_One' pms.pms_id kpi.kpi_months_id %}">{{ kpi.kpi_months_class }}</a></td>
                              <td>{{ kpi.kpi_month_april }}</td>
                              <td>{{ kpi.kpi_month_may }}</td>
                              <td>{{ kpi.kpi_month_june }}</td>
                              <td>{{ kpi.kpi_month_july }}</td>
                              <td>{{ kpi.kpi_month_august }}</td>
                              <td>{{ kpi.kpi_month_september }}</td>
                              <td>{{ kpi.kpi_month_october }}</td>
                              <td>{{ kpi.kpi_month_november }}</td>
                              <td>{{ kpi.kpi_month_december }}</td>
                              <td>{{ kpi.kpi_month_january }}</td>
                              <td>{{ kpi.kpi_month_february }}</td>
                              <td>{{ kpi.kpi_month_march }}</td>
                          </tr>
                      {% endfor %}
                  {% endif %}

            </tbody>
          </table>
            <br>
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}