{% extends "cfao_kenya/Staff_Kpi/default.html" %}
{% block pagetitle %}Approve KPI{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">My Staff KPIs</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div style="overflow-x:scroll">
          {% if team_members %}
            {% if team_pending > 0 %}
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Staff</th>
                    <th>PF</th>
                    <th>Approved 2</th>
                    <th>Approved 1</th>
                    <th>Pending</th>
                    <th>Rejected</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for member in team_members_kpi %}
                {% if member is not None %}
                  {% if member.4 > 0 %}
                      <tr>
                          <td>
                            <a href="{% url 'cfao_kenya:Staff_Approve_Kpi_Detail' member.0.staff_person.id %}">{{ member.0.staff_person.get_full_name }}</a>
                          </td>
                          <td>
                            {{ member.1 }}
                          </td>
                          <td>
                            {{ member.2 }}
                          </td>
                          <td>
                            {{ member.3 }}
                          </td>
                          <td class="bg-info">
                            {{ member.4 }}
                          </td>
                          <td>
                            {{ member.5 }}
                          </td>
                          <td>
                            {{ member.6 }}
                          </td>
                        </tr>
                  {% endif %}
                {% endif %}
              {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
              </table>
            {% else %}
              <div class="alert alert-warning">
                <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
                It Appears you've got no Pending KPIs from your team members
              </div>
            {% endif %}

          {% else %}
            <div class="alert alert-warning">
              <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
              It Appears you've you've got no team members
            </div>
          {% endif %}


        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}