<!-- KPI Form -->

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Users <div class="float-right"><a href="{% url 'cfao_kenya:Admin_Users_Create' %}">New User</a></div>

        </div>
         <table id="searchTable" class="table table-bordered table-hover">
              <thead>
                  <tr>
                    <th>User</th>
                    <th>Status</th>
                    <th>Superuser</th>
                    <th>Staff</th>
                    <th>Staff accounts</th>
                    <th>Create staff</th>
                  </tr>
                  </thead>
              <tbody>
                  {% for user in user_list %}
                      <tr>
                      <td><a href="{% url 'cfao_kenya:Admin_Users_View' user.0.id %}">{{ user.0.get_full_name }}</a></td>
                        <td>{{ user.0.is_active }}</td>
                        <td>{{ user.0.is_superuser }}</td>
                        {% if user.1 %}
                            <td>True</td>
                            <td>{{ user.1.count }}</td>
                            <td>N/A</td>
                       {% else %}
                            <td>True</td>
                            <td>{{ user.1.count }}</td>
                            <td>Create Account</td>
                        {% endif %}
                      </tr>
                  {% endfor %}
              </tbody>
         </table>
    </div>
</div>