{% extends "Assessment/default.html" %}
{% block pagetitle %}Assessment{% endblock %}
{% block page_top %}<li class="breadcrumb-item"><a href="{% url 'Assessment_Dashboard' %}">Assessment</a></li>{% endblock %}
{% block page_middle %}<li class="breadcrumb-item"><a href="{% url 'Assessment_View' evaluation.evaluation_id %}">Evaluations</a></li>{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <!-- /.card-header -->
      <div class="card-body">
        {% if user_is_tl %}
          {% if evals %}
            <div class="alert alert-info">
              My Team Members <h5><b>{{ team_leader.get_full_name }}</b></h5>

            </div>
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Staff</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>


              {% for mem in evals %}
                {% if mem.1 == "Not Done" %}
                  <tr>
                    <td>
                      <a href="{% url 'Assessment_S_One' evaluation.evaluation_id mem.0.staff_person.id %}">{{ mem.0.staff_person.get_full_name }}</a>
                    </td>
                    <td>
                      {{ mem.1 }}
                    </td>
                  </tr>
                {% else %}
                  <tr>
                    <td>
                      <a href="{% url 'Assessment_S_One' evaluation.evaluation_id mem.0.staff_person.id %}">{{ mem.0.staff_person.get_full_name }}</a>
                    </td>
                    <td class="bg-success">
                      {{ mem.1 }}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
              </tbody>
              <tfoot>

              </tfoot>
            </table>


          {% else %}
            <div class="alert alert-warning">
              <h5><i class="icon fas fa-ban"></i> Team Members not found</h5>
              It Appears you do not have team members
            </div>
          {% endif %}
          {% else %}
            <div class="alert alert-success">
              <h5><i class="icon fas fa-ban"></i> Not TL</h5>
              It Appears You're not a TL
            </div>
          {% endif %}
      </div>
    </div>
  </div>

{% endblock %}