{% extends "default.html" %}
{% block pagetitle %}Assessment Dashboard{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-2">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <hr>
        <br>
        <br>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <a href="{% url 'Staff_Approve_CI' %}" class="btn btn-primary btn-block"><b>Ev. Results</b></a>
            <a href="{% url 'Staff_Approve_CI' %}" class="btn btn-primary btn-block"><b>Previous Ev</b></a>
          </li>
        </ul>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{% url 'Individual_Kpi_Detail1' %}">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Assessments</span>
              <span class="info-box-number">{{ active_pms.assessment_number }} Evl.</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                <small>Assessments in the year</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{% url 'Individual_Kpi_Detail1' %}">
          <div class="info-box bg-success">
            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">On Going</span>
              <span class="info-box-number">{{ running_evaluations.count }} Evl.</span>

              <div class="progress">
                <div class="progress-bar" style="width:100%"></div>
              </div>
              <span class="progress-description">
                <small>Current on-going evaluations</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{% url 'Individual_Kpi_Detail1' %}">
          <div class="info-box bg-warning">
            <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Future</span>
              <span class="info-box-number">{{ future_evaluations.count }} Evl.</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                <small>Future on-going evaluation</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{% url 'Individual_Kpi_Detail1' %}">

          <div class="info-box bg-danger">
            <span class="info-box-icon"><i class="fas fa-thumbs-down"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Completed</span>
              <span class="info-box-number">{{ completed_evaluations.count }} Evl.</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
                <small>Completed Evaluations</small>
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        </a>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Assessments</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div style="overflow-x:scroll">
          {% if evals %}
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Evaluation</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>S > TL</th>
                <th>TL > S</th>
              </tr>
              </thead>
              <tbody>

              {% for eval in evals %}
                {% if eval is not None %}
                  <tr>
                    {% if eval.6 is True %}
                      <td class="bg-success">
                        <a href="{% url 'Assessment_View' eval.0 %}">{{ eval.1 }} <small>(Fill)</small></a>
                      </td>
                    {% else %}
                      <td>
                        {{ eval.1 }}
                      </td>
                    {% endif %}
                    <td>
                      {{ eval.2 }}
                    </td>
                    <td>
                      {{ eval.3 }}
                    </td>
                    <td>
                      {{ eval.4 }}
                    </td>
                    <td>
                      {{ eval.5 }}
                    </td>
                  {% endif %}
              {% endfor %}
              </tbody>
              <tfoot>

              </tfoot>
            </table>
          {% else %}
            <div class="alert alert-warning">
              <h5><i class="icon fas fa-ban"></i> No Assessment found</h5>
              It Appears your company has got no records of assessment
            </div>
          {% endif %}

        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": false,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}

