{% extends "Assessment/default.html" %}
{% block pagetitle %}Assessment{% endblock %}

{% block page_top %}<li class="breadcrumb-item"><a href="{% url 'cfao_kenya:Assessment_Previous' %}">Prev Assessment</a></li>{% endblock %}
{% block page_middle %}<li class="breadcrumb-item"><a href="{% url 'cfao_kenya:Assessment_Previous_One' evaluation.evaluation_id %}">Prev Evaluations</a></li>{% endblock %}

{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <!-- /.card-header -->
      <div class="card-body">
        {% if ev_done == 'Not Done' %}
          <div class="alert alert-warning">
                <h5><i class="icon fas fa-ban"></i> Not Done</h5>
                It Appears you never evaluated your team leader
              </div>
          {% else %}
            <div class="alert alert-success">
              <h5><i class="icon fas fa-ban"></i> TL Evaluated</h5>
              Below are the responses of the evaluation
            </div>
            <div class="col-md-12">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Question
                        </th>
                        <th>
                            Response
                        </th>
                        <th>
                            Comment
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for resp in ev_results %}
                        <tr>
                            <td>
                                {{ resp.0 }}
                            </td>
                            <td>
                                {{ resp.1 }}
                            </td>
                            <td>
                                {{ resp.2 }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
          {% endif %}
      </div>
    </div>
  </div>

{% endblock %}