{% extends "Assessment/default.html" %}
{% block pagetitle %}Previous Assessment{% endblock %}
{% block page_top %}<li class="breadcrumb-item"><a href="{% url 'cfao_kenya:Assessment_Previous' %}">Prev Assessment</a></li>{% endblock %}

{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Assessment Type</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Assessment </th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              {% if user_is_tl is not None%}
                <tr>
                  <th>
                    <a href="{% url 'cfao_kenya:Assessment_S_Previous' evals.0.evaluation_id %}">TL evaluates Staff</a>
                  </th>
                  <td>
                    {{ evals.1 }}
                  </td>
                </tr>
              {% endif %}
              {% if user_is_md == "No" %}
                {% if team_leader is not None %}
                  <tr>
                    <th>
                      <a href="{% url 'cfao_kenya:Assessment_TL_One_Previous' evals.0.evaluation_id team_leader.staff_person.id %}">Evaluate TL</a>
                    </th>
                    <td>
                      {{ evals.2 }}
                    </td>
                  </tr>
                {% else %}
                  <tr>
                    <td colspan="2">It seems i cannot get your team leader</td>
                  </tr>
                {% endif %}
              {% endif %}
              </tbody>
              <tfoot>

              </tfoot>
            </table>
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}