{% extends 'Site/CDP/my_cdp/default.html' %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'Site:CDP_List' company_id %}">CDP</a></li>
        <li class="breadcrumb-item active">View</li>
    {% endblock %}
    {% block page_title %}CDP - {{ cdpcycle.cycle_name }}{% endblock %}
    {% block content %}

        <div class="container-fluid">
            <div class="card">
                <div class="card-body">

                     <table class="table table-bordered table-hover">
                          <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Status</th>
                                  <th>Start</th>
                                  <th>End</th>
                                  <th>Minimum</th>
                                  <th>Maximum</th>
                                  <th class="bg-info">Applied</th>
                              </tr>
                              <tr>
                                  <td>{{ cdpcycle.cycle_name }}</td>
                                  <td>{% if cycle_status %}Active{% else %}InActive{% endif %}</td>
                                  <td>{{ cdpcycle.cycle_start }}</td>
                                  <td>{{ cdpcycle.cycle_end }}</td>
                                  <td>{{ cdpcycle.cycle_minimum_required_competency }}</td>
                                  <td>{{ cdpcycle.cycle_maximum_required_competency }}</td>
                                  <td class="bg-info">{{ applied_competencies }}</td>
                              </tr>

                          </thead>
                     </table>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered" id="simpleTable">
                        <thead>
                            <th>Name</th>
                            <th>Details</th>
                            <th>Status/Action</th>
                        </thead>
                        <tbody>
                            {% for competency in competencies %}
                                <tr>
                                    <td>{{ competency.0.competency_name }}</td>
                                    <td>{{ competency.0.competency_description }}</td>
                                    <td>
                                        {% if cycle_status %}
                                            {% if competency.1 == False and apply_new == True %}
                                                <a href="{% url 'Site:CDP_Cycle_View_Submit' company_id cdpcycle.cycle_id staff.staff_id competency.0.competency_id 1 %}" class="btn btn-info">Apply</a>
                                            {% elif competency.1 == True and apply_new == False %}
                                                <a href="{% url 'Site:CDP_Cycle_View_Submit' company_id cdpcycle.cycle_id staff.staff_id competency.0.competency_id 0 %}" class="btn btn-danger">Remove</a>
                                            {% else %}
                                                Not Applied
                                            {% endif %}
                                        {% else %}
                                            {% if competency.1 %}
                                                Applied
                                            {% else %}
                                                Not Applied
                                            {% endif %}
                                        {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {% endblock %}