{% extends 'cfao_kenya/default.html' %}

{% block page_link%}<a class="navbar-brand" href="{% url 'cfao_kenya:Admin_Home' %}" ><b style="color: {{ company.company_color1 }}">Admin Home</b></a>{% endblock %}
{% block Create %}
    <li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:Admin_Home' %}">PMS</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:Admin_Users' %}">Users</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:My_KPI_Create' %}">Categories</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:My_KPI_Create' %}">Levels</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:My_KPI_Create' %}">Company</a></li>
{% endblock %}
{% block Update %}<li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:My_KPI_Results_View' %}">Results</a></li>{% endblock %}
