{% extends "toyota_kenya/Admin/default.html" %}
{% block kpicontent %}


  <div class="col-md-10">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Create New User</h4>
        </div>
        <div class="card card-danger">
            <div class="card-body card-danger bg-warning">
                {{ form.errors }}
            </div>
        </div>
      <div class="card-body">
        <form method="post">
            {% csrf_token %}
        <div style="overflow-x:scroll">
            <table>
            {{ form.as_table }}
                </table>
            <br>
            <hr>
            <button type="submit" class="btn btn-success">Save and Next</button>
            <button type="reset" class="btn btn-danger">Clear</button>
        </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}

