{% extends 'Site/KPI/my_kpi/default.html' %}
    {% block page_title %}My KPI - New{% endblock %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'Site:My_KPI' %}">My KPI</a></li>
        <li class="breadcrumb-item active">New</li>
    {% endblock %}
    {% block content %}
        {% if page_permission %}
            {% include 'Site/KPI/my_kpi/display_templates/create.html' %}
        {% else %}
            {% include 'Site/errors/permissions.html' %}
        {% endif %}
        {% if perms.cfao_kenya.view_kpi %}
            {% include 'Site/KPI/my_kpi/display_templates/list.html' %}
        {% endif %}


    {% endblock %}