{% extends 'Site/KPI/my_kpi/default.html' %}
    {% block page_title %}My KPI - Edit{% endblock %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'Site:My_KPI' %}">My KPI</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'Site:My_KPI_View' kpi.kpi_id %}">View</a></li>
        <li class="breadcrumb-item active">Edit</li>
    {% endblock %}
    {% block content %}
        {% if page_permission %}
            {% include 'Site/KPI/my_kpi/display_templates/edit.html' %}
        {% else %}
            {% include 'Site/errors/permissions.html' %}
        {% endif %}


    {% endblock %}