<!-- KPI Form -->

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Assessment <div class="float-right"><a href="{% url 'cfao_kenya:Admin_Assessment_Create' pms_select.pms_id %}">New Assessment</a></div>

        </div>
         <table id="searchTable" class="table table-bordered table-hover">
              <thead>
                  <tr>
                    <th>Staff</th>
                    <th>Submitted</th>
                    <th>Pending</th>
                    <th>Approved</th>
                    <th>Rejected</th>
                    <th>Edit</th>
                    <th>Total</th>
                  </tr>
                  </thead>
              <tbody>
                  {% for staff in staff_n_kpi %}
                      <tr>
                      <td><a href="{% url 'cfao_kenya:Admin_KPI_Staff' pms_select.pms_id staff.0.id %}">{{ staff.0.get_full_name }}</a></td>
                        <td>{{ staff.1.count }}</td>
                        <td>{{ staff.2.count }}</td>
                        <td>{{ staff.3.count }}</td>
                        <td>{{ staff.4.count }}</td>
                        <td>{{ staff.5.count }}</td>
                        <td>{{ staff.6.count }}</td>
                  {% endfor %}
              </tbody>
         </table>
    </div>
</div>