{% extends "Admin/default.html" %}
{% block kpicontent %}


  <div class="col-md-10">


    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Editing Team</h4>
        </div>
      <div class="card-body">

        <div style="overflow-x:scroll">
            <form method="post">
                {% csrf_token %}
                {{ form.errors }}
                {{ form.team_id.as_hidden }}
            <table id="example1" class="table table-bordered">
                <tbody>
                    <tr>
                        <th>
                            Team Name
                        </th>
                        <td>
                            {{ form.team_name }}
                        </td>
                    </tr>
                </tbody>
            </table>
                <button class="btn btn-success" type="submit">Save</button>
            </form>
        </div>
      <br>
      <br> <table id="example1" class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3" class="bg-info">
                            Team Leader
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for head in team_head %}
                        <tr>
                            <td>
                                <a href="{% url 'tydia_url_Admin_Users_One' head.staff_person.id %}">{{ head.staff_person.get_full_name }}</a>
                            </td>
                            <td>
                                {{ head.staff_Pf_Number }}
                            </td>
                            <td>
                                {{ head.staff_person.email }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
      </table>
      <br>
      <br>
            <table id="example1" class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="3" class="bg-info">
                            Team Members
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            PF
                        </th>
                        <th>
                            Email
                        </th>
                    </tr>
                </thead>
                <tbody>
            {% for staff in team_members %}
                    <tr>
                        <td>
                            <a href="{% url 'tydia_url_Admin_Users_One' staff.staff_person.id %}">{{ staff.staff_person.get_full_name }}</a>
                        </td>
                        <td>
                            {{ staff.staff_Pf_Number }}
                        </td>
                        <td>
                            {{ staff.staff_person.email }}
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
            </table>
      </div>
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}

