{% extends "cfao_agri/Admin/default.html" %}
{% block page_top %}
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'tydia_url_Admin_Dashboard' %}">Admin</a></li>
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'tydia_url_Admin_PMS_Assessment' pms.pms_id %}">Assessment</a></li>
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'tydia_url_Admin_PMS_Assessment_One' pms.pms_id evaluation.evaluation_id %}">{{ evaluation.evaluation_name }}</a></li>
{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">PMS <b>{{ pms.pms_name }}</b></h3>
          <div class="float-right">
            <a href="{% url 'tydia_url_Admin_PMS_Assessment_New' pms.pms_id %}" class="btn btn-success"><i class="fa fa-shopping-basket" style=""> New</i></a>
          </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
          <table class="table table-bordered">
              <tbody>
                <tr class="bg-info">
                    <th colspan="4">
                        Staff Evaluates TL
                    </th>
                </tr>
                <tr>
                    <td>
                        {{ evaluation.evaluation_name }}
                    </td>
                    <td>
                        {{evaluation.evaluation_start_date}} - {{ evaluation.evaluation_end_date }}
                    </td>
                </tr>

              </tbody>
          </table>
            <br>

          <form method="post">
          {% csrf_token %}
          {{ form.done_id.as_hidden }}
          {{ form.done_evaluation.as_hidden }}
          {{ form.done_staff.as_hidden }}
          {{ form.done_team_leader.as_hidden }}
          {{ form.done_q1.as_hidden }}
          {{ form.done_q2.as_hidden }}
          {{ form.done_q3.as_hidden }}
          {{ form.done_q4.as_hidden }}
          {{ form.done_q5.as_hidden }}
          {{ form.done_q6.as_hidden }}
          {{ form.done_q7.as_hidden }}
          <table class="table table-bordered">
              {{ form.evaluation_id.as_hidden }}
              <tbody>
                <tr class="bg-info">
                    <th colspan="4">
                        Info
                    </th>
                </tr>
                <tr>
                    <th>
                        Name
                    </th>
                    <td>
                        {{ done.done_staff.get_full_name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        TL
                    </th>
                    <td>
                        {{ done.done_team_leader.get_full_name }}
                    </td>
                </tr>
              </tbody>
          </table>
          <table class="table table-bordered">
              <tbody>
                <tr class="bg-info">
                    <th colspan="4">
                        Response
                    </th>
                </tr>
                <tr>
                    <td>
                        {{ done.done_q1 }}
                    </td>
                    <td>
                        {{ form.score_q1 }}
                    </td>
                    <td>
                        {{ form.score_q1_comment }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ done.done_q2 }}
                    </td>
                    <td>
                        {{ form.score_q2 }}
                    </td>
                    <td>
                        {{ form.score_q2_comment }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ done.done_q3 }}
                    </td>
                    <td>
                        {{ form.score_q3 }}
                    </td>
                    <td>
                        {{ form.score_q3_comment }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ done.done_q4 }}
                    </td>
                    <td>
                        {{ form.score_q4 }}
                    </td>
                    <td>
                        {{ form.score_q4_comment }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ done.done_q5 }}
                    </td>
                    <td>
                        {{ form.score_q5 }}
                    </td>
                    <td>
                        {{ form.score_q5_comment }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ done.done_q6 }}
                    </td>
                    <td>
                        {{ form.score_q6 }}
                    </td>
                    <td>
                        {{ form.score_q6_comment }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ done.done_q7 }}
                    </td>
                    <td>
                        {{ form.score_q7 }}
                    </td>
                    <td>
                        {{ form.score_q7_comment }}
                    </td>
                </tr>
                
              </tbody>
          </table>
              <button type="submit" class="btn btn-info"><i class="fa fa-save" style=""> Save</i></button>
          </form>
          <br>
          <br>



        </form>
          <br>
          <br>
          <br>
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>
     <script>
        $( "input" ).addClass( 'form-control');
        $( "textarea" ).addClass( 'form-control');
        $( "select" ).addClass( 'form-control');
    </script>

{% endblock %}