{% extends "Admin/default.html" %}
{% block page_top %}
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'tydia_url_Admin_Dashboard' %}">Admin</a></li>{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link card-title" id="custom-tabs-two-home-tab" href="{% url 'tydia_url_Admin_PMS_Matrix' pms.pms_id %}" role="tab" aria-controls="custom-tabs-two-home">Score Matrix</a>
              </li>
              <li class="nav-item">
                <a class="nav-link card-title active" id="custom-tabs-two-home-tab"  href="{% url 'tydia_url_Admin_PMS_Matrix_KPI' pms.pms_id %}" role="tab" aria-controls="custom-tabs-two-home">KPI Matrix</a>
              </li>
              <li class="nav-item card-title">
                <a class="nav-link" id="custom-tabs-two-profile-tab" data-toggle="pill" href="#custom-tabs-two-profile" role="tab" aria-controls="custom-tabs-two-profile">Assessment</a>
              </li>
              <li class="nav-item card-title">
                <a class="nav-link" id="custom-tabs-two-messages-tab" data-toggle="pill" href="#custom-tabs-two-messages" role="tab" aria-controls="custom-tabs-two-messages">CheckIn</a>
              </li>
            </ul>
          </div>
    <form action="" method="post" id="submit_kpi_form">
          {% csrf_token %}
      <!-- /.card-header -->
      <div class="card-body">
        <div class="float-right">
           <a href="{% url 'tydia_url_Admin_PMS_Matrix_KPI_New' pms.pms_id %}" class="btn btn-success"><i class="fa fa-shopping-basket" style=""> New</i></a>
            <button class="btn btn-info" type="submit"><i class="fa fa-save"> Save</i></button>
        </div>
        <br>
        <br>
          {{ form.kpi_months_pms.as_hidden }}
          {{ form.kpi_months_id.as_hidden }}
          <table id="example" class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="6" class="bg-info">
                        New KPI Matrix
                    </th>
                </tr>
                <tr>
                    <th>
                        Matrix
                    </th>
                    <th>
                        {{ form.kpi_months_class }}
                    </th>
                </tr>
                </tr>
            </thead>
          </table>
            <br>
            <br>
         <table id="example" class="table table-bordered">
            <tbody>
                <tr>
                    <th colspan="4" class="bg-info">
                        Evaluation Months
                    </th>
                </tr>
                <tr>
                    <th>
                        April
                    </th>
                    <td>
                        {{ form.kpi_month_april }}
                    </td>
                    <th>
                        October
                    </th>
                    <td>
                        {{ form.kpi_month_october }}
                    </td>
                </tr>
                <tr>
                    <th>
                        May
                    </th>
                    <td>
                        {{ form.kpi_month_may }}
                    </td>
                    <th>
                        November
                    </th>
                    <td>
                        {{ form.kpi_month_november }}
                    </td>
                </tr>
                <tr>
                    <th>
                        June
                    </th>
                    <td>
                        {{ form.kpi_month_june }}
                    </td>
                    <th>
                        December
                    </th>
                    <td>
                        {{ form.kpi_month_december }}
                    </td>
                </tr>
                <tr>
                    <th>
                        July
                    </th>
                    <td>
                        {{ form.kpi_month_july }}
                    </td>
                    <th>
                        January
                    </th>
                    <td>
                        {{ form.kpi_month_january }}
                    </td>
                </tr>
                <tr>
                    <th>
                        August
                    </th>
                    <td>
                        {{ form.kpi_month_august }}
                    </td>
                    <th>
                        February
                    </th>
                    <td>
                        {{ form.kpi_month_february }}
                    </td>
                </tr>
                <tr>
                    <th>
                        September
                    </th>
                    <td>
                        {{ form.kpi_month_september }}
                    </td>
                    <th>
                        March
                    </th>
                    <td>
                        {{ form.kpi_month_march }}
                    </td>
                </tr>
                </tr>
            </tbody>
          </table>
    </form>
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}