{% extends 'cfao_kenya/Assessment/default.html' %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:Assessment_List' %}">Assessment</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:Assessment_View' Assessment.assessment_id %}">{{ Assessment.assessment_name }}</a></li>
        <li class="breadcrumb-item active">My</li>
    {% endblock %}
    {% block page_title %}Assessment - {{ Assessment.assessment_name }} - My{% endblock %}
    {% block content %}
        {% if page_permission %}
            <div class="container-fluid">
                <div class="card">
                    <table class="table table-bordered">
                          <thead>
                            <tr>
                                <th>
                                    {{ Assessment.assessment_name }}
                                </th>
                                <td>
                                      From: {{ Assessment.assessment_start_date }}
                                  </td>
                                  <td>
                                      To: {{ Assessment.assessment_end_date }}
                                  </td>
                                  <td>
                                      Scoring use: {{ Assessment.assessment_scoring_use }}
                                  </td>
                            </tr>
                            <tr>
                                <th>Evaluating</th>
                                <th colspan="3">{% if direction == "Top" %}My Team Leader(s) assessment of me{% else %}My Staff(s) assessment of me{% endif %}</th>
                            </tr>
                          </thead>

                     </table>
                    <table class="table table-bordered table-hover" id="simpleTable">
                          <thead>
                              <tr>
                                  <th>
                                      Question
                                  </th>
                                  <th>
                                      Status
                                  </th>
                                  <th>
                                      Responders
                                  </th>
                                  <th>
                                      Score
                                  </th>
                                  <th>
                                      Comment(s)
                                  </th>
                              </tr>
                          </thead>
                         <tbody>
                            {% if assessment_status is True %}
                                {% for question in question_responses %}
                                    <tr>
                                        <td>{{ question.0.question }}</td>
                                        <td>{{ question.2  }}</td>
                                        <td>{% if question.1 %}{{ question.1.count}}{% else %}0{% endif %}</td>
                                        <td>{{ question.3  }}</td>
                                        <td>{% for comment in question.4 %}{{ comment }}<br>{% endfor %}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center">It appears the Assessment is still active. One is not allowed to view results while assessment is ongoing</td>
                                </tr>
                            {% endif %}
                         </tbody>
                     </table>
                </div>
            </div>
        {% else %}
            {% include 'cfao_kenya/errors/permissions.html' %}
        {% endif %}

    {% endblock %}