{% extends 'cfao_kenya/Assessment/default.html' %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:Assessment_List' %}">Assessment</a></li>
        <li class="breadcrumb-item active">View</li>
    {% endblock %}
    {% block page_title %}Assessment - {{ Assessment.assessment_name }}{% endblock %}
    {% block content %}
        {% if page_permission %}
            <div class="container-fluid">
                <div class="card">
                    <table class="table table-bordered">
                          <thead>
                            <tr>
                                <th colspan="4">
                                    {{ Assessment.assessment_name }}
                                </th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr class="bg-color2">
                                  <th>
                                      Status Active
                                  </th>
                                  <th>
                                      Start Date
                                  </th>
                                  <th>
                                      End Date
                                  </th>
                                  <th>
                                      Used in Scoring
                                  </th>
                              </tr>
                              <tr>
                                  <td>
                                      {{ assessment_status }}
                                  </td>
                                  <td>
                                      {{ Assessment.assessment_start_date }}
                                  </td>
                                  <td>
                                      {{ Assessment.assessment_end_date }}
                                  </td>
                                  <td>
                                      {{ Assessment.assessment_scoring_use }}
                                  </td>
                              </tr>
                          </tbody>
                     </table>
                    <table class="table table-bordered table-hover">
                          <thead>
                              <tr>
                                  <th>
                                      Type
                                  </th>
                                  <th>
                                      Questions No.
                                  </th>
                                  <th>
                                      Staff(s) Evaluating
                                  </th>
                              </tr>
                          </thead>
                         <tbody>
                            <tr>
                                <td>Staff Evaluate TL</td>
                                <td>{{ top_questions.count }}</td>
                                <td>{{ level_heads|length }}</td>
                            </tr>
                            <tr>
                                <td>TL Evaluate Satff</td>
                                <td>{{ bottom_questions.count }}</td>
                                <td>{{ level_members|length }}</td>
                            </tr>
                         </tbody>
                     </table>
                </div>
                <div class="card">
                         <table class="table table-bordered table-hover">
                              <thead>
                                  <tr>
                                      <th colspan="2" class="bg-color2">
                                          My Assessment Score
                                      </th>
                                  </tr>
                                  <tr>
                                      <td>
                                          <a href="{% url 'cfao_kenya:Assessment_View_My' Assessment.assessment_id 'Bottom' %}">My TL Evaluates Me</a>
                                      </td>
                                      <td>
                                          <a href="{% url 'cfao_kenya:Assessment_View_My' Assessment.assessment_id 'Top' %}">My Staff Evaluates Me</a>
                                      </td>
                                  </tr>
                                  <tr>

                                  </tr>

                              </thead>
                         </table>
                </div>
                {% if level_heads|length > 0%}
                    <div class="card">
                         <table class="table table-bordered table-hover">
                              <thead>
                                  <tr>
                                      <th class="bg-color2">
                                          Staff Evaluate TL
                                      </th>
                                  </tr>
                              </thead>
                             <tbody>
                                {% for head in level_heads %}
                                <tr>
                                    <td><a href="{% url 'cfao_kenya:Assessment_View_Member' Assessment.assessment_id head.level_head.id 'Top'%}">{{ head.level_head.get_full_name }}</a></td>
                                </tr>
                                {% endfor %}
                             </tbody>
                         </table>

                    </div>
                {% endif %}
                {% if level_members|length > 0%}
                    <div class="card">
                         <table class="table table-bordered table-hover">
                              <thead>
                                  <tr>
                                      <th class="bg-color2">
                                          TL Evaluate Staff
                                      </th>
                                  </tr>
                              </thead>
                             <tbody>
                                {% for member in level_members %}
                                <tr>
                                    <td><a href="{% url 'cfao_kenya:Assessment_View_Member' Assessment.assessment_id member.level_member_user.id 'Bottom'%}">{{ member.level_member_user.get_full_name }}</a></td>
                                </tr>
                                {% endfor %}
                             </tbody>
                         </table>

                    </div>
                {% endif %}
            </div>
        {% else %}
            {% include 'cfao_kenya/errors/permissions.html' %}
        {% endif %}

    {% endblock %}