{% extends 'default.html' %}
{% block content %}
<div class="col-md-2">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <h2 class="profile-username text-center">ADMIN</h2>
        <hr>
        <br>
        <br>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <a href="{% url 'Admin_Dashboard' %}" class="btn btn-primary btn-block"><b>PMS</b></a>
            <a href="{% url 'Admin_Users' %}" class="btn btn-primary btn-block"><b>Users</b></a>
            <a href="{% url 'Admin_BUs' %}" class="btn btn-primary btn-block"><b>BU</b></a>
            <a href="{% url 'Individual_Kpi_Detail1' %}" class="btn btn-primary btn-block"><b>Teams</b></a>
          </li>
        </ul>
      </div>
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}
