{% extends "Admin/default.html" %}
{% block page_top %}
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'cfaoa_url_Admin_Dashboard' %}">Admin</a></li>{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">PMS <b>{{ pms.pms_name }}</b> --- Matrix/Config</h3>
          <div class="float-right">

          </div>
      </div>

      <!-- /.card-header -->
      <div class="card-body">
      <div class="float-right">
           <a href="{% url 'cfaoa_url_Admin_PMS_Matrix_New' pms.pms_id %}" class="btn btn-success"><i class="fa fa-shopping-basket" style=""> New</i></a>
        </div>
      <br>
      <br>
       <form action="" method="post" id="submit_kpi_form">
              {% csrf_token %}
      {{ form.matrix_id.as_hidden }}
      {{ form.matrix_pms.as_hidden }}
       <table id="example" class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="6" class="bg-info">
                        Edit Matrix <b>{{ one_matrix.matrix_class }}</b>
                    </th>
                </tr>
                <tr>
                  <td>{{ form.matrix_class }}</td>
                  <td>{{ form.matrix_grade }}</td>
                  <td>{{ form.matrix_company_kpi_weight }}</td>
                  <td>{{ form.matrix_bu_kpi_weight }}</td>
                  <td>{{ form.matrix_individual_kpi_weight }}</td>
                  <td>{{ form.matrix_assessment_weight }}</td>
                </tr>
            </thead>
       </table>
       <button type="submit" class="btn btn-primary" id="submit_kpi_button">Update</button>
       </form>
      <br>
      <br>

          <table id="example" class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="6" class="bg-info">
                        Score Matrix Available
                    </th>
                </tr>
                <tr>
                    <th>
                        Matrix
                    </th>
                    <th>
                        Grade
                    </th>
                    <th>
                        Company
                    </th>
                    <th>
                        BU
                    </th>
                    <th>
                        Individual
                    </th>
                    <th>
                        Assessment
                    </th>
                </tr>
                </tr>
            </thead>
            <tbody>

                  {% if score_matrix %}
                      {% for score in score_matrix %}
                          <tr>
                          <td><a href="{% url 'cfaoa_url_Admin_PMS_Matrix_Score' pms.pms_id score.matrix_id %}">{{ score.matrix_class }}</a></td>
                          <td>{{ score.matrix_grade }}</td>
                          <td>{{ score.matrix_company_kpi_weight }}</td>
                          <td>{{ score.matrix_bu_kpi_weight }}</td>
                          <td>{{ score.matrix_individual_kpi_weight }}</td>
                          <td>{{ score.matrix_assessment_weight }}</td>
                          </tr>
                      {% endfor %}
                  {% endif %}

            </tbody>
          </table>
          <br>
          <br>
          <br>
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>
    <script>
         $("input").addClass("form-control");
         $("select").addClass("form-control");
    </script>

{% endblock %}