{% extends 'Site/Assessment/default.html' %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'Site:Assessment_List' company_id %}">Assessment</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'Site:Assessment_View' company_id Assessment.assessment_id %}">{{ Assessment.assessment_name }}</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'Site:Assessment_View_Member' company_id Assessment.assessment_id member.staff_id direction %}">{{ member}}</a></li>
        <li class="breadcrumb-item active">Question</li>
    {% endblock %}
    {% block page_title %}Assessment - {{ member }} - Question{% endblock %}
    {% block content %}

        <div class="card container-fluid">
            <div class="card-header">
                <div class="card-title">
                    Assessing {{ member.get_full_name }}
                </div>
            </div>
            <div class="card-body">
                {% if assessment_status is True %}
                    <form method="post">
                        {% csrf_token %}
                            {{ form.errors }}
                            {{ form.response_id.as_hidden }}
                            {{ form.response_staff.as_hidden }}
                            {{ form.response_submitted_date.as_hidden }}
                            {{ form.response_evaluated.as_hidden }}
                            Question
                            <h3>{{ questionresponses.response_question }}</h3>
                            {{ form.response_question.as_hidden }}
                        <br>
                        <div class="col-sm-12">
                            <span class="irs-shadow shadow-single container-fluid" style="display: none;"></span>
                            <input id="{{ form.response_submitted.id_for_label }}" type="text" name="{{ form.response_submitted.name }}" value="{{ form.response_submitted.value }}" class="irs-hidden-input" tabindex="-1" hidden onchange="displayCommentText()">

                        </div>
                        <br>

                        <h5 id="commentTag">Comment</h5>
                        <textarea id="{{ form.response_comment.id_for_label }}" name="{{ form.response_comment.name }}" required>{{ form.response_comment.value }}</textarea>
                        <br>
                      <button type="submit" class="btn btn-info float-right">Submit</button>
                    </form>
                {% else %}
                    {% include 'Site/errors/assessment_deadline_complete.html' %}
                {% endif %}

            </div>
        </div>

    {% endblock %}