{% extends 'Site/Assessment/default.html' %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'Site:Assessment_List' company_id %}">Assessment</a></li>
        <li class="breadcrumb-item active">View</li>
    {% endblock %}
    {% block page_title %}Assessment - {{ Assessment.assessment_name }}{% endblock %}
    {% block content %}

        <div class="container-fluid">
            <div class="card">
                     <table class="table table-bordered table-hover">
                          <thead>
                              <tr>
                                  <th colspan="3" class="bg-color2">
                                      My Assessment Score
                                  </th>
                              </tr>
                              <tr>
                                  <td>
                                      <a href="{% url 'Site:Assessment_View_My' company_id Assessment.assessment_id 'Bottom' %}">My Team Leader evaluation of me<small> - (click to view)</small></a>
                                  </td>
                                  <td>
                                      <a href="{% url 'Site:Assessment_View_My' company_id Assessment.assessment_id 'Top' %}">My Team Members evaluation of me<small> - (click to view)</small></a>
                                  </td>
                              </tr>

                          </thead>
                     </table>
            </div>
            {% if level_heads|length > 0%}
                <div class="card">
                     <table class="table table-bordered table-hover">
                          <thead>
                              <tr>
                                  <th class="bg-color2" colspan="2">
                                      Evaluate my Team Leader
                                  </th>
                              </tr>
                          </thead>
                         <tbody>
                            {% for head in level_heads %}
                            <tr>
                                <td><a href="{% url 'Site:Assessment_View_Member' company_id Assessment.assessment_id head.0.level_head.staff_id 'Top'%}">{{ head.0.level_head }}</a></td>
                                <td>{{ head.1 }}</td>
                            </tr>
                            {% endfor %}
                         </tbody>
                     </table>

                </div>
            {% endif %}
            {% if level_members|length > 0%}
                <div class="card">
                     <table class="table table-bordered table-hover">
                          <thead>
                              <tr>
                                  <th class="bg-color2" colspan="2">
                                      Evaluate my Team Members
                                  </th>
                              </tr>
                          </thead>
                         <tbody>
                            {% for member in level_members %}
                            <tr>
                                <td><a href="{% url 'Site:Assessment_View_Member' company_id Assessment.assessment_id member.0.membership_staff.staff_id 'Bottom'%}">{{ member.0.membership_staff }}</a></td>
                                <td>{{ member.1 }}</td>
                            </tr>
                            {% endfor %}
                         </tbody>
                     </table>

                </div>
            {% endif %}
        </div>

    {% endblock %}