{% extends "cfao_kenya/Check-In/default.html" %}
{% block pagetitle %}Edit Check-In{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Edit pending CI</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        {% if pending_ci %}

          <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Check-In month<small> (Click)</small></th>
            <th>Status</th>
            <th>Submit date</th>
          </tr>
          </thead>
          <tbody>
        {% for ci in pending_ci %}
            <tr>
              <td>
                <a href="{% url 'cfao_kenya:Check-In_Edit_One' ci.checkIn_id %}"><span class="fa fa-pen"></span> {{ ci.checkIn_month }}</a>
              </td>
              <td>
                {{ ci.checkIn_status }}
              </td>
              <td>
                {{ ci.checkIn_submit_date }}
              </td>
            </tr>
        {% endfor %}
          </tbody>
          <tfoot>

          </tfoot>
        </table>
        {% else %}
          <div class="alert alert-warning">
            <h5><i class="icon fas fa-ban"></i> No Check-In found</h5>
            It Appears you do not have pending KPIs. You are allowed to only edit pending Check-Ins
          </div>
        {% endif %}
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}