{% extends "cfao_agri/Admin/default.html" %}
{% block kpicontent %}

  <div class="col-md-10">

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">{{ user.first_name }} record</h4>
        </div>
      <div class="card-body">

        <div style="overflow-x:scroll">
            <table class="table table-bordered">
              <tbody>
                <tr class="bg-info">
                    <th colspan="4">
                        User Info <a class="float-right btn btn-default text-dark" href="{% url 'cfao_agri:Admin_Users_One_Edit_User' user.id %}">Edit User info</a>
                    </th>
                </tr>
                <tr>
                    <th>
                        User
                    </th>
                    <td colspan="5">
                        {{ user.get_full_name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Username
                    </th>
                    <td>
                        {{ user.username }}
                    </td>
                    <th>
                        Email
                    </th>
                    <td colspan="3">
                        {{ user.email }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Status Active
                    </th>
                    <td>
                        {{ user.is_active }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Joined
                    </th>
                    <td>
                        {{ user.date_joined }}
                    </td>
                    <th>
                        Last login
                    </th>
                    <td>
                        {{ user.last_login }}
                    </td>
                </tr>

              </tbody>
          </table>
          <table class="table table-bordered">
              <tbody>
                <tr class="bg-info">
                    <th colspan="4">
                        Staff Info <a class="float-right btn btn-default text-dark" href="{% url 'cfao_agri:Admin_Users_One_Edit_Staff' user.id %}">Edit staff info</a>
                    </th>
                </tr>
                <tr>
                    <th>
                        PF
                    </th>
                    <td>
                        {{ staff.staff_Pf_Number }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Team
                    </th>
                    <th>
                        Dept
                    </th>
                    <th>
                        Branch
                    </th>
                    <th>
                        BU
                    </th>
                </tr>

                <tr>
                    <td>
                        {{ staff.staff_team }}
                    </td>
                    <td>
                        {{ staff.staff_department }}
                    </td>
                    <td>
                        {{ staff.staff_branch }}
                    </td>
                    <td>
                        {{ staff.staff_bu }}
                    </td>
                </tr>
                <tr class="bg-gray">
                    <th>
                        Head Team
                    </th>
                    <th>
                        Head Dept
                    </th>
                    <th>
                        Head Branch
                    </th>
                    <th>
                        Head BU
                    </th>
                </tr>
                <tr>
                    <td>
                        {{ staff.staff_head_team }}
                    </td>
                    <td>
                        {{ staff.staff_head_department }}
                    </td>
                    <td>
                        {{ staff.staff_head_branch }}
                    </td>
                    <td>
                        {{ staff.staff_head_bu }}
                    </td>
                </tr>
              <tr class="bg-gray">
                  <th>
                      Grade
                  </th>
                  <th>
                      MD Access
                  </th>
              </tr>
              <tr>
                  <td>
                    {{ staff.staff_grade }}
                  </td>
                  <td>
                      {{ staff.staff_md }}
                  </td>
              </tr>

              </tbody>
          </table>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
{% endblock %}

