{% extends "cfao_agri/Admin/default.html" %}
{% block kpicontent %}
    {% if form.errors %}
    {% for error in form.errors.new_password2 %}
      <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $(function() {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
          });
          toastr.error('{{ error }}');
        });
      </script>
    {% endfor %}
{% endif %}

  <div class="col-md-10">
  <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Users</span>
              <span class="info-box-number">{{ staff.count }} users</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Active Users</span>
              <span class="info-box-number">{{ staff_active.count }}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Team leaders</span>
              <span class="info-box-number">{{ staff_tl.count }}</span>

              <div class="progress">
                <div class="progress-bar" style="width:100%"></div>
              </div>
              <span class="progress-description">
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Bu Heads</span>
              <span class="info-box-number">{{ staff_bu_heads.count }}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <!-- /.col -->
    </div>

    <div class="card">
      <div class="card-body">
      <table id="example" class="table table-bordered">
            <thead>
                <tr>
                   <th colspan="3" class="bg-info">
                       Password Reset
                   </th>
                </tr>
                <tr>
                    <th>
                       Name
                    </th>
                    <td colspan="2">
                        {{ staff_u.get_full_name }}
                    </td>
                </tr>
            </thead>
          <form method="post">
              {% csrf_token %}
            <tbody>
                <tr>
                    <th>
                        New Password
                    </th>
                    <td>
                        {{ form.new_password1 }}
                    </td>
                    <td rowspan="2">
                        {{ form.new_password1.help_text }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Confirm Password
                    </th>
                    <td>
                        {{ form.new_password2 }}
                    </td>
                </tr>
                <tr>

                </tr>
            </tbody>
          <tfoot>
            <tr>
                <td colspan="3">
                    <button type="submit" class="btn btn-success">Change</button>
                </td>
            </tr>

          </tfoot>
          </form>
      </table>
        <br>
        <br>
        <br>
        <div style="overflow-x:scroll">
            <table id="example1" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Action
                    </th>
                    <th>
                        PF
                    </th>
                    <th>
                        Active
                    </th>
                    <th>
                        Superuser
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        BU
                    </th>
                    <th>
                        Is TL
                    </th>
                    <th>
                        Is BU L
                    </th>
                    <th>
                        Grade
                    </th>
                </tr>
            </thead>
            <tbody>
              {% for s in staff %}

                  <tr>
                    <td>
                        <a href="{% url 'cfao_agri:Admin_Users_One' s.staff_person.id %}">{{ s.staff_person.get_full_name }}</a>
                    </td>
                      <td>
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  {% if s.staff_person.is_active is True %}
                                    <a class="dropdown-item" href="{% url 'cfao_agri:Admin_Users_deactivate1' s.staff_person.id %}">Deactivate</a>
                                  {% else %}
                                      <a class="dropdown-item" href="{% url 'cfao_agri:Admin_Users_activate1' s.staff_person.id %}">Activate</a>
                                  {% endif %}
                                <a class="dropdown-item" href="{% url 'cfao_agri:Admin_Users_reset_password' s.staff_person.id %}">Reset Password</a>

                              </div>
                            </div>
                      </td>
                    <td>
                        {{ s.staff_Pf_Number }}
                    </td>
                    <td>
                        {{ s.staff_person.is_active }}
                    </td>

                    <td>
                        {{ s.staff_person.is_superuser }}
                    </td>

                    <td>
                        {{ s.staff_person.email }}
                    </td>
                    <td>
                        {{ s.staff_team }}
                    </td>
                    <td>
                        {{ s.staff_bu }}
                    </td>
                    <td>
                        {{ s.staff_head_team }}
                    </td>
                    <td>
                        {{ s.staff_head_bu.bu_name }}
                    </td>
                    <td>
                        {{ s.staff_grade }}
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.card-body -->
    </div>


{% endblock %}

