{% extends "cfao_kenya/Individual_Kpi/default.html" %}
{% block pagetitle %}Submit KPI{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Submit new KPI</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        {% if now >= pms.pms_individual_submit_start_date and now <= pms.pms_individual_submit_end_date%}
              {% if submitted_count < pms.pms_individual_kpi_number %}
              <form action="" method="post" id="submit_kpi_form">
              {% csrf_token %}
                  {{ form.individual_kpi_pms.as_hidden }}
                  {{ form.individual_kpi_user.as_hidden }}
                  {{ form.individual_kpi_submit_date.as_hidden }}
                  {{ form.individual_kpi_last_edit.as_hidden }}
                  {{ form.individual_kpi_status.as_hidden }}
              <div class="card-body">
                    <div class="row form_body">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>KPI</label>
                                {{ form.individual_kpi_title }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>KPI Function</label>
                              {{ form.individual_kpi_function }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>KPI criteria</label>
                        {{ form.individual_kpi_criteria }}
                    </div>
                    <div class="form-group">
                        <label>KPI Description</label>
                        {{ form.individual_kpi_details }}
                    </div>
                    <div class="row container-fluid">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>KPI Target</label>
                                {{ form.individual_kpi_target }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>KPI Calculation</label>
                                {{ form.individual_kpi_type }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>KPI Weight</label>
                                {{ form.individual_kpi_weight    }}
                            </div>
                        </div>
                    </div>
              </div>
              <div class="card-footer">
                <div class="float-right" style="margin:5px">
                    <button type="reset" class="btn btn-danger btn-block">Clear</button>
                </div>
                <div class="float-right" style="margin:5px">
                    <button type="submit" class="btn btn-primary btn-block" id="submit_kpi_button">Submit</button>
                </div>
              </div>
              </form>

              <style>
                .error {
                  color: #F00;
                  background-color: #FFF;
                  font-family: Helvetica, sans-serif;
                  font-size:13px;
                }
              </style>
              <script>
              // just for the demos, avoids form submit
              jQuery.validator.setDefaults({
                debug: false,
                success: "valid"
              });


              var form = $( "#submit_kpi_form" );
              // form.validate();

              $( "#submit_kpi_button" ).click(function() {
                if(form.valid()){
                  $(".btn").prop('readonly', true);
                  $('html').preloader({
                    // loading text
                    text:'Submitting',
                    // from 0 to 100
                    percent:'100',
                    // duration in ms
                    duration:'30000',
                    // z-index property
                    zIndex:'1',
                    // sets relative position to preloader's parent
                    width:'100%',
                    height:'100%',
                    setRelative:false,
                  });
                }
              });
              </script>
              <hr>
              <div style="overflow-x:scroll">
                <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>KPI</th>
                  <th>Function</th>
                  <th>Target</th>
                  <th>Status</th>
                  <th>Calculation</th>
                  <th>Weight</th>
                  <th>Apr</th>
                  <th>May</th>
                  <th>Jun</th>
                  <th>Jul</th>
                  <th>Aug</th>
                  <th>Sep</th>
                  <th>Oct</th>
                  <th>Nov</th>
                  <th>Dec</th>
                  <th>Jan</th>
                  <th>Feb</th>
                  <th>Mar</th>
                </tr>
                </thead>
                <tbody>
              {% for kpi in my_kpi %}
                {% if kpi.individual_kpi_status != "Rejected" %}
                  <tr>
                    <td>
                      {{ kpi.individual_kpi_title }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_function }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_target }}
                    </td>
                    {% if kpi.individual_kpi_status == "Pending" %}
                      <td class="bg-warning">
                        {{ kpi.individual_kpi_status }}
                      </td>
                    {% else %}
                      <td>
                        {{ kpi.individual_kpi_status }}
                      </td>
                    {% endif %}
                    <td>
                      {{ kpi.individual_kpi_type }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_weight }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_april_score }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_may_score }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_june_score }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_july_score }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_august_score }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_september_score }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_october_score }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_november_score }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_december_score }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_january_score }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_february_score }}
                    </td>
                    <td>
                      {{ kpi.individual_kpi_march_score }}
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
              </table>
              </div>
            {% else %}
              <div class="alert alert-success">
                <h5><i class="icon fas fa-ban"></i> KPIs Submitted</h5>
                It Appears you've already submitted the required number of KPIs
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-info">
                      <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

                      <div class="info-box-content">
                        <span class="info-box-text">Required</span>
                        <span class="info-box-number">{{ pms.pms_individual_kpi_number }} KPIs</span>

                        <div class="progress">
                          <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                          <small>Required no of KPIs by HR</small>
                        </span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-success">
                      <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
                      <div class="info-box-content">
                        <span class="info-box-text">Approved</span>
                        <span class="info-box-number">{{ approved2_kpi.count }} KPIs</span>

                        <div class="progress">
                          <div class="progress-bar" style="width:100%"></div>
                        </div>
                        <span class="progress-description">
                          <small>Approved KPIs in all levels</small>
                        </span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-warning">
                      <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

                      <div class="info-box-content">
                        <span class="info-box-text">Pending</span>
                        <span class="info-box-number">{{ pending_count }} KPIs</span>

                        <div class="progress">
                          <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                          <small>Total Pending KPIs</small>
                        </span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-danger">
                      <span class="info-box-icon"><i class="fas fa-thumbs-down"></i></span>

                      <div class="info-box-content">
                        <span class="info-box-text">Rejected</span>
                        <span class="info-box-number">{{ rejected_count }}</span>

                        <div class="progress">
                          <div class="progress-bar" style="width: 100%"></div>
                        </div>
                        <span class="progress-description">
                          <small>Total Rejected KPIs</small>
                        </span>
                      </div>
                      <!-- /.info-box-content -->
                    </div>
                  <!-- /.info-box -->
                </div>
                <!-- /.col -->
              </div>
            {% endif %}
        {% else %}
            <div class="alert alert-danger">
                <h5><i class="icon fas fa-ban"></i> Late Submission</h5>
                It Appears you're late in submitting your KPIs
              </div>
        {% endif %}
      </div>
      <!-- /.card-body -->
    </div>
</div>

{% endblock %}

