{% extends "Individual_Kpi/default.html" %}
{% block pagetitle %}Edit KPI{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Edit pending KPI</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        {% if my_kpi %}

          <table id="example1" class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>KPI<small> (Click)</small></th>
            <th>Function</th>
            <th>Target</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
        {% for kpi in pending_kpi %}
          {% if kpi.individual_kpi_status != "Rejected" %}
            <tr>
              <td>
                 {{ kpi.individual_kpi_title }}
              </td>
              <td>
                {{ kpi.individual_kpi_function }}
              </td>
              <td>
                {{ kpi.individual_kpi_target }}
              </td>
              <td>
                  {{ kpi.individual_kpi_status }}
              </td>
              <td>
                <a href="{% url 'tamk:Individual_Kpi-Edit_One' kpi.individual_kpi_id %}"><span class="fa fa-pen"></span> Edit</a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
          </tbody>
          <tfoot>

          </tfoot>
        </table>
        {% else %}
          <div class="alert alert-warning">
            <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
            It Appears you've not submitted any KPIs. Or all of them have been declined
          </div>
        {% endif %}
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}