{% extends "tamk/Admin/default.html" %}
{% block page_top %}
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'tamk:Admin_Dashboard' %}">Admin</a></li>{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">PMS <b>{{ pms.pms_name }}</b> --- BU KPI</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
          <table id="example1" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        BU
                    </th>
                    <th>
                        Approved
                    </th>
                    <th>
                        Pending
                    </th>
                    <th>
                        Rejected
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
              {% for staff_u in staff_n_kpi %}
                  <tr>
                    <td>
                        <a href="{% url 'tamk:Admin_PMS_BU_Staff' pms.pms_id staff_u.0.staff_person.id %}">{{ staff_u.0.staff_person.get_full_name }}</a>
                    </td>
                    <td>
                        {{ staff_u.0.staff_head_bu.bu_name }}
                    </td>
                  <td>
                      {{ staff_u.3.count }}
                  </td>
                  <td>
                      {{ staff_u.2.count }}
                  </td>
                  <td>
                      {{ staff_u.4.count }}
                  </td>
                  <td>
                      {{ staff_u.1.count }}
                  </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
          <br>
          <br>
          <br>
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}