{% extends 'cfao_kenya/Admin/pms/default.html' %}
    {% block page_title %}Admin - PMS - New{% endblock %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:Admin_Home' %}">Admin Home</a></li>
        <li class="breadcrumb-item active">New</li>
    {% endblock %}
    {% block content %}
        {% if page_permission %}
            {% include 'cfao_kenya/Admin/pms/display_templates/create.html' %}
        {% else %}
            {% include 'cfao_kenya/errors/permissions.html' %}
        {% endif %}
        {% if perms.cfao_kenya.view_kpi %}
            {% include 'cfao_kenya/Admin/pms/display_templates/list.html' %}
        {% endif %}


    {% endblock %}