{% extends "toyota_kenya/Staff_Kpi/default.html" %}
{% block pagetitle %}view KPI{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">

    <div class="card">

      <div class="card-header">
        <h3 class="card-title">{{ staff.get_full_name }}'s KPIs</h3>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-info">
              <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Required</span>
                <span class="info-box-number">{{ required_count }} KPIs</span>

                <div class="progress">
                  <div class="progress-bar" style="width: 100%"></div>
                </div>
              </div>
              <!-- /.info-box-content -->
            </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-success">
              <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Approved</span>
                <span class="info-box-number">{{ approved2_kpi.count }} KPIs</span>

                <div class="progress">
                  <div class="progress-bar" style="width:100%"></div>
                </div>
              </div>
              <!-- /.info-box-content -->
            </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-warning">
              <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Pending</span>
                <span class="info-box-number">{{ pending_count }} KPIs</span>

                <div class="progress">
                  <div class="progress-bar" style="width: 100%"></div>
                </div>
              </div>
              <!-- /.info-box-content -->
            </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-danger">
              <span class="info-box-icon"><i class="fas fa-thumbs-down"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Rejected</span>
                <span class="info-box-number">{{ rejected_count }} KPIs</span>

                <div class="progress">
                  <div class="progress-bar" style="width: 100%"></div>
                </div>
              </div>
              <!-- /.info-box-content -->
            </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div style="overflow-x:scroll">
        {% if my_kpi %}
          <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>KPI</th>
                <th>Function</th>
                <th>Status</th>
                <th>Weight</th>
                <th></th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
              </tr>
              </thead>
              <tbody>
            {% for kpi in my_kpi %}
                <tr>
                  <td rowspan="2">
                    <a href="{% url 'toyota_kenya:Staff_Track_Kpi_Staff_One' staff.id kpi.individual_kpi_id %}"> {{ kpi.individual_kpi_title }}</a>
                  </td>
                  <td rowspan="2">
                    {{ kpi.individual_kpi_function }}
                  </td>
                  <td rowspan="2">
                     {{ kpi.individual_kpi_status }}
                  </td>
                  <td rowspan="2">
                    {{ kpi.individual_kpi_weight }}
                  </td>
                    <td>TGT</td>
                  <td>
                    {{ kpi.individual_kpi_april_target }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_may_target }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_june_target }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_july_target }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_august_target }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_september_target }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_october_target }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_november_target }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_december_target }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_january_target }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_february_target }}
                  </td>
                  <td>
                    {{ kpi.individual_kpi_march_target }}
                  </td>
                </tr>
                <tr>
                  <td>ACT</td>
                  <td {% if kpi.individual_kpi_april_score_approve == "Approved" %}class="bg-success" {% endif %}>
                    {{ kpi.individual_kpi_april_score }}
                  </td>
                  <td {% if kpi.individual_kpi_may_score_approve == "Approved" %}class="bg-success" {% endif %}>
                    {{ kpi.individual_kpi_may_score }}
                  </td>
                  <td {% if kpi.individual_kpi_june_score_approve == "Approved" %}class="bg-success" {% endif %}>
                    {{ kpi.individual_kpi_june_score }}
                  </td>
                  <td {% if kpi.individual_kpi_july_score_approve == "Approved" %}class="bg-success" {% endif %}>
                    {{ kpi.individual_kpi_july_score }}
                  </td>
                  <td {% if kpi.individual_kpi_august_score_approve == "Approved" %}class="bg-success" {% endif %}>
                    {{ kpi.individual_kpi_august_score }}
                  </td>
                  <td {% if kpi.individual_kpi_september_score_approve == "Approved" %}class="bg-success" {% endif %}>
                    {{ kpi.individual_kpi_september_score }}
                  </td>
                  <td {% if kpi.individual_kpi_october_score_approve == "Approved" %}class="bg-success" {% endif %}>
                    {{ kpi.individual_kpi_october_score }}
                  </td>
                  <td {% if kpi.individual_kpi_november_score_approve == "Approved" %}class="bg-success" {% endif %}>
                    {{ kpi.individual_kpi_november_score }}
                  </td>
                  <td {% if kpi.individual_kpi_december_score_approve == "Approved" %}class="bg-success" {% endif %}>
                    {{ kpi.individual_kpi_december_score }}
                  </td>
                  <td {% if kpi.individual_kpi_january_score_approve == "Approved" %}class="bg-success" {% endif %}>
                    {{ kpi.individual_kpi_january_score }}
                  </td>
                  <td {% if kpi.individual_kpi_february_score_approve == "Approved" %}class="bg-success" {% endif %}>
                    {{ kpi.individual_kpi_february_score }}
                  </td>
                  <td {% if kpi.individual_kpi_march_score_approve == "Approved" %}class="bg-success" {% endif %}>
                    {{ kpi.individual_kpi_march_score }}
                  </td>
                </tr>
            {% endfor %}
              </tbody>
              <tfoot>

              </tfoot>
            </table>
        {% else %}
          <div class="alert alert-warning">
            <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
            It Appears {{ staff.get_full_name }} no KPIs
          </div>
        {% endif %}
        </div>

      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}