{% extends "toyota_kenya/Staff_Kpi/default.html" %}
{% block pagetitle %}Track my Staff KPIs{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Track/search all submitted  KPI</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        {% if team_members %}
            <table id="example" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Staff</th>
                <th>PF</th>
                <th>Approved 2</th>
                <th>Approved 1</th>
                <th>Pending</th>
                <th>Rejected</th>
                <th>Total</th>
              </tr>
              </thead>
              <tbody>
            {% for member in team_members_kpi %}
              {% if member is not None %}
                <tr>
                  <td>
                    <a href="{% url 'toyota_kenya:Staff_Track_Kpi_Staff' member.0.staff_person.id %}" >{{ member.0.staff_person.get_full_name }}</a>
                  </td>
                  <td>
                    {{ member.1 }}
                  </td>
                  <td>
                    {{ member.2 }}
                  </td>
                  <td>
                    {{ member.3 }}
                  </td>
                  <td>
                    {{ member.4 }}
                  </td>
                  <td>
                    {{ member.5 }}
                  </td>
                  <td>
                    {{ member.6 }}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}

              </tbody>
              <tfoot>

              </tfoot>
            </table>
            <br>
            {% if team_members2_kpi %}
                  <div class="card-header">
                    <h3 class="card-title">Track/search 2nd level Down KPI</h3>
                  </div>
              {% endif %}
            <br>
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Staff</th>
                <th>PF</th>
                <th>Approved 2</th>
                <th>Approved 1</th>
                <th>Pending</th>
                <th>Rejected</th>
                <th>Total</th>
              </tr>
              </thead>
              <tbody>
            {% for member in team_members2_kpi %}
              {% if member is not None %}
                <tr>
                  <td>
                    <a href="{% url 'toyota_kenya:Staff_Track_Kpi_Staff' member.0.staff_person.id %}" >{{ member.0.staff_person.get_full_name }}</a>
                  </td>
                  <td>
                    {{ member.1 }}
                  </td>
                  <td>
                    {{ member.2 }}
                  </td>
                  <td>
                    {{ member.3 }}
                  </td>
                  <td>
                    {{ member.4 }}
                  </td>
                  <td>
                    {{ member.5 }}
                  </td>
                  <td>
                    {{ member.6 }}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}

              </tbody>
              <tfoot>

              </tfoot>
            </table>
          {% else %}
            <div class="alert alert-warning">
              <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
              It Appears you've you've got no team members
            </div>
          {% endif %}
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}