{% extends "tamk/Bus_Kpi/default.html" %}
{% block pagetitle %}Approve KPI{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">{{ bu.bu_name }}'s Pending KPIs</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        {% if pending_kpi %}
          {% for kpi in pending_kpi %}
            <table id="example1" class="table table-bordered table-striped">
            <tbody>
              <tr class="bg-info">
                <td colspan="4">
                  {{ kpi.bu_kpi_title }}
                </td>
              </tr>
              <tr>
                <th>
                  Description
                </th>
                <td colspan="3">
                  {{ kpi.bu_kpi_details }}
                </td>
              </tr>
              <tr>
                <th>
                  Criteria
                </th>
                <td colspan="3">
                  {{ kpi.bu_kpi_criteria }}
                </td>
              </tr>
              <tr>
                <th>
                  Function
                </th>
                <td colspan="3">
                  {{ kpi.bu_kpi_function }}
                </td>
              </tr>
              <tr>
                <th>
                  Target
                </th>
                <td colspan="3">
                  {{ kpi.bu_kpi_target }}
                </td>
              </tr>
              <tr>
                <th>
                  Status
                </th>
                <td colspan="3">
                  {{ kpi.bu_kpi_status }}
                </td>
              </tr>
              <tr>
                <th>
                  Calculation
                </th>
                <td colspan="3">
                  {{ kpi.bu_kpi_type }}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="card-footer">
            <div class="float-right" style="margin:5px">
              <a href="{% url 'tamk:BUs_Reject_Kpi' bu.bu_id  kpi.bu_kpi_id  %}"><button type="reset" class="btn btn-danger btn-block">Reject</button></a>
            </div>
            <div class="float-right" style="margin:5px">
              <a href="{% url 'tamk:BUs_Approve_Kpi' bu.bu_id  kpi.bu_kpi_id  %}"><button type="submit" class="btn btn-primary btn-block" id="submit_kpi_button">Approve</button></a>
            </div>
          </div>
          <br>
          {% endfor %}
        {% else %}
          <div class="alert alert-warning">
            <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
            It Appears {{ staff.get_full_name }} has no pending KPIs
          </div>
        {% endif %}
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}