<!-- KPI Form -->

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            {{ Level.level_name }}
        </div>

    </div>
    <div class="card">

        <div class="card-body">
            {{ form.errors }}
            <form method="post">
                {% csrf_token %}
                {{ form.level_member_id.as_hidden }}
                {{ form.level_member_level.as_hidden }}

                Staff
                {{ form.level_member_user }}

                <br>
                Active
                {{ form.level_member_active }}
                <br>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            {{ Level.level_name }} Members
            <a href="{% url 'cfao_kenya:Admin_Level_Member_Create' Level.level_id %}"><div class="float-right btn btn-info">Add Member</div></a>
        </div>
         <table class="table table-bordered table-hover" id="searchTable">
              <thead>
                <tr>
                    <th>Member</th>
                    <th>Active Status</th>
                    <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for member in level_members %}
                  <tr>
                      <td>
                          {{ member.level_member_user.get_full_name }}
                      </td>
                      <td>
                          {{ member.level_member_active }}
                      </td>
                      <td>
                          {% if  member.level_member_active is True %}
                              <a href="{% url 'cfao_kenya:Admin_Level_Member_Status' Level.level_id member.level_member_id %}" class="btn bg-warning">Disable</a>
                          {% else %}
                              <a href="{% url 'cfao_kenya:Admin_Level_Member_Status' Level.level_id member.level_member_id %}" class="btn bg-success">Enable</a>
                          {% endif %}
                          <a href="{% url 'cfao_kenya:Admin_Level_Member_Delete' Level.level_id member.level_member_id %}" class="btn bg-danger">Remove</a>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
         </table>
    </div>

</div>