{% extends "tamk/Staff_Ci/default.html" %}
{% block pagetitle %}Approve CI{% endblock %}
{% block kpicontent %}
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">My Staff Check-Ins</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div style="overflow-x:scroll">
          {% if team_members %}
            {% if ci_pending_count > 0 %}
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Staff</th>
                  <th>PF</th>
                  <th>Pending KPI</th>
                  <th>Total KPI</th>
                </tr>
                </thead>
                <tbody>
              {% for member in staff_n_ci %}
                  {% if member.3 > 0 %}
                    <tr>
                      <td>
                        <a href="{% url 'tamk:Staff_Approve_CI_list' member.0.id %}">{{ member.0.get_full_name }}</a>
                      </td>
                      <td>
                        {{ member.1 }}
                      </td>
                      <td>
                        {{ member.2 }}
                      </td>
                      </td>
                      <td>
                        {{ member.3 }}
                      </td>
                    </tr>
                  {% endif %}
              {% endfor %}
                </tbody>
                <tfoot>

                </tfoot>
              </table>
            {% else %}
              <div class="alert alert-warning">
                <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
                It Appears you've got no Pending Check-Ins from your team members
              </div>
            {% endif %}

          {% else %}
            <div class="alert alert-warning">
              <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
              It Appears you've you've got no team members
            </div>
          {% endif %}


        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}