{% extends 'Site/KPI/my_kpi/default.html' %}
    {% block Create %}<li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:KPI_Category_Level_New' levelcategory.category_id level.level_id %}">New KPI</a></li>{% endblock %}
    {% block page_title %}{{ levelcategory.category_name }} KPI - {{ level.level_name }}{% endblock %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:KPI_Category' levelcategory.category_id  %}">{{ levelcategory.category_name }} KPI</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:KPI_Category_Level' levelcategory.category_id level.level_id %}">{{ level.level_name }}</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:KPI_Category_Level_One' levelcategory.category_id level.level_id kpi.kpi_id %}">KPI</a></li>
        <li class="breadcrumb-item active">Delete</li>
    {% endblock %}
    {% block content %}
        {% if page_permission %}
            {% include 'cfao_kenya/KPI/level_up_kpi/display_templates/delete.html' %}
        {% else %}
            {% include 'cfao_kenya/errors/permissions.html' %}
        {% endif %}


    {% endblock %}