<!-- KPI Form -->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            {{ Category.category_name }}
            <div class="float-right btn btn-danger"><a href="{% url 'cfao_kenya:Admin_Category_Delete'  Category.category_id %}">Delete</a></div>
            <div class="float-right btn btn-warning"><a href="{% url 'cfao_kenya:Admin_Category_Edit' Category.category_id %}">Edit</a></div>
        </div>
         <table class="table table-bordered table-hover">
              <tbody>
                  <tr>
                      <th>
                          Category
                      </th>
                      <td>
                          {{ Category.category_name }}
                      </td>
                  </tr>
                  <tr>
                      <th>
                          Parent
                      </th>
                      <td>
                          {{ Category.category_parent }}
                      </td>
                  </tr>
                  <tr>
                      <th>
                          KPI View
                      </th>
                      <td>
                          {{ Category.category_kpi_view }}
                      </td>
                  </tr>
              </tbody>
         </table>
    </div>
</div>