{% extends "tydia/default.html" %}
{% block mykpi %}{{ my_kpi_link }}{% endblock %}
{% block pagetitle %}{{ user_company }}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-2">
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <h2 class="profile-username text-center">MY KPIs</h2>
            <hr>
            <br>

            <br>
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <a href="{% url 'tydia:Company_Dashboard' %}" class="btn btn-primary btn-block"><b>Company Overview</b></a>
              </li>
            </ul>
          </div>
          <!-- /.card-body -->
        </div>
    </div>

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">View KPI</h3>

      </div>
      <!-- /.card-header -->
      <div class="card-body">
        {% if company_kpi %}

          <table id="example1" class="table table-bordered table-striped">
            <tbody>
              <tr>
                <th>
                  KPI
                </th>
                <td colspan="5">
                  {{ company_kpi.company_kpi_title }}
                </td>
              </tr>
              <tr>
                <th>
                  Description
                </th>
                <td colspan="5">
                  {{ company_kpi.company_kpi_details }}
                </td>
              </tr>
              <tr>
                <th>
                  Criteria
                </th>
                <td colspan="5">
                  {{ company_kpi.company_kpi_criteria }}
                </td>
              </tr>
              <tr class="bg-info">
                <th>
                  Function
                </th>
                <th>
                  Target
                </th>
                <th>
                  Calculation
                </th>
                <th>
                  Weight
                </th>
                <th>
                  Status
                </th>
                <th>
                  Submit Date
                </th>
              </tr>
              <tr>
                <td>
                  {{ company_kpi.company_kpi_function }}
                </td>
                <td>
                  {{ company_kpi.company_kpi_target }}
                </td>
                <td>
                  {{ company_kpi.company_kpi_type }}
                </td>
                <td>
                  {{ company_kpi.company_kpi_weight }}
                </td>
                <td>
                  {{ company_kpi.company_kpi_status }}
                </td>
                <td>
                  {{ company_kpi.company_kpi_submit_date }}
                </td>
              </tr>

            </tbody>
          </table>
          <table class="table table-bordered" id="example1">
            <thead>
                <tr>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    {{ company_kpi.company_kpi_april_score }}
                  </td>
                  <td>
                    {{ company_kpi.company_kpi_may_score }}
                  </td>
                  <td>
                    {{ company_kpi.company_kpi_june_score }}
                  </td>
                  <td>
                    {{ company_kpi.company_kpi_july_score }}
                  </td>
                  <td>
                    {{ company_kpi.company_kpi_august_score }}
                  </td>
                  <td>
                    {{ company_kpi.company_kpi_september_score }}
                  </td>
                  <td>
                    {{ company_kpi.company_kpi_october_score }}
                  </td>
                  <td>
                    {{ company_kpi.company_kpi_november_score }}
                  </td>
                  <td>
                    {{ company_kpi.company_kpi_december_score }}
                  </td>
                  <td>
                    {{ company_kpi.company_kpi_january_score }}
                  </td>
                  <td>
                    {{ company_kpi.company_kpi_february_score }}
                  </td>
                  <td>
                    {{ company_kpi.company_kpi_march_score }}
                  </td>
                </tr>
            </tbody>
          </table>
        {% else %}
          <div class="alert alert-warning">
            <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
            It Appears you've not submitted any KPIs. Or all of them have been declined
          </div>
        {% endif %}
      </div>

    <hr>
    <hr>

      <div class="card-body">
        <div style="overflow-x:scroll">
          {% if my_kpi %}
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>KPI</th>
                <th>Function</th>
                <th>Target</th>
                <th>Status</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
              </tr>
              </thead>
              <tbody>
            {% for kpi in my_kpi %}
              {% if kpi.company_kpi_status != "Rejected" %}
                <tr>
                  <td>
                      <a href="{% url 'tydia:Company_Dashboard_Detail' kpi.company_kpi_id %}">{{ kpi.company_kpi_title }}</a>
                  </td>
                  <td>
                    {{ kpi.company_kpi_function }}
                  </td>
                  <td>
                    {{ kpi.company_kpi_target }}
                  </td>
                  {% if kpi.company_kpi_status == "Pending" %}
                    <td class="bg-warning">
                      {{ kpi.company_kpi_status }}
                    </td>
                  {% else %}
                    <td>
                      {{ kpi.company_kpi_status }}
                    </td>
                  {% endif %}
                  <td>
                    {{ kpi.company_kpi_april_score }}
                  </td>
                  <td>
                    {{ kpi.company_kpi_may_score }}
                  </td>
                  <td>
                    {{ kpi.company_kpi_june_score }}
                  </td>
                  <td>
                    {{ kpi.company_kpi_july_score }}
                  </td>
                  <td>
                    {{ kpi.company_kpi_august_score }}
                  </td>
                  <td>
                    {{ kpi.company_kpi_september_score }}
                  </td>
                  <td>
                    {{ kpi.company_kpi_october_score }}
                  </td>
                  <td>
                    {{ kpi.company_kpi_november_score }}
                  </td>
                  <td>
                    {{ kpi.company_kpi_december_score }}
                  </td>
                  <td>
                    {{ kpi.company_kpi_january_score }}
                  </td>
                  <td>
                    {{ kpi.company_kpi_february_score }}
                  </td>
                  <td>
                    {{ kpi.company_kpi_march_score }}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
              </tbody>
              <tfoot>

              </tfoot>
            </table>
          {% else %}
            <div class="alert alert-warning">
              <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
              It Appears you've not submitted any KPIs. Or all of them have been declined
            </div>
          {% endif %}
        </div>
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>
    </div>

{% endblock %}