{% extends "Company_Kpi/default.html" %}
{% block pagetitle %}Edit KPI{% endblock %}

{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Edit Check-In</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">

          {% if cis %}
            {% if cis.checkIn_status != 'Pending' %}
                <div class="alert alert-warning">
                    <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
                    It Appears this Check-In is no longer under 'Pending' status
                </div>
            {% else %}
              <blockquote class="bg-info " style="margin:-20px -20px 0px -20px ;"><h2 class="text-white">{% now 'F' %} Check-In</h2></blockquote>
              <form action="" method="post" id="submit_Check_In_Form">
              {% csrf_token %}
                <blockquote class="border-info">
                  <h6 class="text-info">Perfomance Areas</h6>
                  {{ form.checkIn_performance_area }}
                </blockquote>
                <blockquote class="border-info">
                  <h6 class="text-info">Progress Discussed</h6>
                  {{ form.checkIn_progress_discussed }}
                </blockquote>
                <blockquote class="border-info">
                  <h6 class="text-info">Team member actions</h6>
                  {{ form.checkIn_team_member_actions }}
                </blockquote>
                <blockquote class="border-info">
                  <h6 class="text-info">Team Leader support</h6>
                  {{ form.checkIn_team_leader_support }}
                </blockquote>
                {% load static %}
                <script src="{% static 'plugins/summernote/summernote-bs4.min.js' %}"></script>
                <script>
                  $('.textarea').summernote({
                    height: 100,
                    toolbar: [
                      // [groupName, [list of button]]
                      ['style', ['bold', 'italic', 'underline', 'clear']],
                      ['font', ['strikethrough', 'superscript', 'subscript']],
                      ['fontsize', ['fontsize']],
                      ['para', ['ul', 'ol', 'paragraph']],
                      ['height', ['height']]
                    ]
                  });
                </script>
                <hr>
              <div class="card-footer">
                <div class="float-right" style="margin:5px">
                    <button type="reset" class="btn btn-danger btn-block">Clear</button>
                </div>
                <div class="float-right" style="margin:5px">
                    <button type="submit" class="btn btn-primary btn-block" id="submit_kpi_button">Submit</button>
                </div>
              </div>
              </form>

              <style>
                .error {
                  color: #F00;
                  background-color: #FFF;
                  font-family: Helvetica, sans-serif;
                  font-size:13px;
                }
              </style>
              <script>
              // just for the demos, avoids form submit
              jQuery.validator.setDefaults({
                debug: false,
                success: "valid"
              });


              var form = $( "#submit_kpi_form" );
              // form.validate();

              $( "#submit_kpi_button" ).click(function() {
                if(form.valid()){
                  $(".btn").prop('readonly', true);
                  $('.form_body').preloader({
                    // loading text
                    text:'Loading stuff i say',
                    // from 0 to 100
                    percent:'100',
                    // duration in ms
                    duration:'30000',
                    // z-index property
                    zIndex:'1',
                    // sets relative position to preloader's parent
                    setRelative:false
                  });
                }
              });

              </script>
            {% endif %}
          {% else %}

          {% endif %}
          <hr>
          <br>

      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}