{% extends "cfao_kenya/Admin/default.html" %}
{% block kpicontent %}

  <div class="col-md-10">

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Creating staff record for {{ staff.get_full_name }}</h4>
        </div>
      <div class="card-body">
        <form method="post">
            {{ form.errors }}
            {% csrf_token %}
            {{ form.staff_person.as_hidden }}
            {{ form.staff_id.as_hidden }}
        <div style="overflow-x:scroll">
            <table class="table table-bordered">
              <tbody>
                <tr class="bg-info">
                    <th colspan="4">
                        User Info
                    </th>
                </tr>
                <tr>
                    <th>
                        User
                    </th>
                    <td colspan="5">
                        {{ staff.get_full_name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Username
                    </th>
                    <td>
                        {{ staff.username }}
                    </td>
                    <th>
                        Email
                    </th>
                    <td colspan="3">
                        {{ staff.email }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Status Active
                    </th>
                    <td>
                        {{ staff.is_active }}
                    </td>
                </tr>
                <tr>
                    <th>
                        Joined
                    </th>
                    <td>
                        {{ staff.date_joined }}
                    </td>
                    <th>
                        Last login
                    </th>
                    <td>
                        {{ staff.last_login }}
                    </td>
                </tr>
                <tr>
                    <th>
                        PF
                    </th>
                    <td>
                        {{ form.staff_Pf_Number }}
                    </td>
                    <th>
                        Last login
                    </th>
                    <td>
                        {{ staff.last_login }}
                    </td>
                </tr>
              </tbody>
          </table>
          <table class="table table-bordered">
              <tbody>
                <tr class="bg-info">
                    <th colspan="4">
                        Staff Info
                    </th>
                </tr>
                <tr>
                    <th>
                        Team
                    </th>
                    <th>
                        Dept
                    </th>
                    <th>
                        Branch
                    </th>
                    <th>
                        BU
                    </th>
                </tr>

                <tr>
                    <td>
                        {{ form.staff_team }}
                    </td>
                    <td>
                        {{ form.staff_department }}
                    </td>
                    <td>
                        {{ form.staff_branch }}
                    </td>
                    <td>
                        {{ form.staff_bu }}
                    </td>
                </tr>
                <tr class="bg-gray">
                    <th>
                        Head Team
                    </th>
                    <th>
                        Head Dept
                    </th>
                    <th>
                        Head Branch
                    </th>
                    <th>
                        Head BU
                    </th>
                </tr>
                <tr>
                    <td>
                        {{ form.staff_team }}
                    </td>
                    <td>
                        {{ form.staff_department }}
                    </td>
                    <td>
                        {{ form.staff_branch }}
                    </td>
                    <td>
                        {{ form.staff_bu }}
                    </td>
                </tr>
              <tr class="bg-gray">
                  <th>
                      Grade
                  </th>
                  <th>
                      MD Access
                  </th>
              </tr>
              <tr>
                  <td>
                    {{ form.staff_grade }}
                  </td>
                  <td>
                      {{ form.staff_md }}
                  </td>
              </tr>

              </tbody>
          </table>
            <button type="submit" class="btn btn-success">Finish</button>
        </form>
        </div>
      </div>
      <!-- /.card-body -->
    </div>

{% endblock %}

