{% extends "cfao_kenya/Admin/default.html" %}
{% block kpicontent %}
  <div class="col-md-10">
  <div class="row">
      <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Users</span>
              <span class="info-box-number">{{ staff.count }} users</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        <!-- /.info-box -->
      </div>
      <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-bookmark"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Active Users</span>
              <span class="info-box-number">{{ staff_active.count }}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-thumbs-up"></i></span>
            <div class="info-box-content">
              <span class="info-box-text">Team leaders</span>
              <span class="info-box-number">{{ staff_tl.count }}</span>

              <div class="progress">
                <div class="progress-bar" style="width:100%"></div>
              </div>
              <span class="progress-description">
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-md-3 col-sm-6 col-12">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Bu Heads</span>
              <span class="info-box-number">{{ staff_bu_heads.count }}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <span class="progress-description">
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <!-- /.col -->
    </div>


    <div class="card">
      <div class="card-body">
      <a href="{% url 'cfao_kenya:Admin_Users_New' %}" class="btn btn-success"><i class="fa fa-shopping-basket" style=""> New User</i></a><br><br>

        <div style="overflow-x:scroll">
            <table id="example1" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Action
                    </th>
                    <th>
                        PF
                    </th>
                    <th>
                        Active
                    </th>
                    <th>
                        Superuser
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        BU
                    </th>
                    <th>
                        Is TL
                    </th>
                    <th>
                        Is BU L
                    </th>
                    <th>
                        Grade
                    </th>
                </tr>
            </thead>
            <tbody>
              {% for s in staff %}

                  <tr>
                    <td>
                        <a href="{% url 'cfao_kenya:Admin_Users_One' s.staff_person.id %}">{{ s.staff_person.get_full_name }}</a>
                    </td>
                      <td>
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  {% if s.staff_person.is_active is True %}
                                    <a class="dropdown-item" href="{% url 'cfao_kenya:Admin_Users_deactivate1' s.staff_person.id %}">Deactivate</a>
                                  {% else %}
                                      <a class="dropdown-item" href="{% url 'cfao_kenya:Admin_Users_activate1' s.staff_person.id %}">Activate</a>
                                  {% endif %}
                                <a class="dropdown-item" href="{% url 'cfao_kenya:Admin_Users_reset_password' s.staff_person.id %}">Reset Password</a>

                              </div>
                            </div>
                      </td>
                    <td>
                        {{ s.staff_Pf_Number }}
                    </td>
                    <td>
                        {{ s.staff_person.is_active }}
                    </td>

                    <td>
                        {{ s.staff_person.is_superuser }}
                    </td>

                    <td>
                        {{ s.staff_person.email }}
                    </td>
                    <td>
                        {{ s.staff_team }}
                    </td>
                    <td>
                        {{ s.staff_bu }}
                    </td>
                    <td>
                        {{ s.staff_head_team }}
                    </td>
                    <td>
                        {{ s.staff_head_bu.bu_name }}
                    </td>
                    <td>
                        {{ s.staff_grade }}
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
{% endblock %}

