{% extends 'cfao_kenya/default.html' %}

{% block page_link%}<a class="navbar-brand" href="{% url 'cfao_kenya:Admin_Home' %}" ><b style="color: {{ company.company_color1 }}">Admin Home</b></a>{% endblock %}
{% block Create %}
    <li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:Admin_Home' %}">PMS</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:Admin_Users' %}">Users Accounts</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:Admin_Users' %}">Staff Accounts</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:Admin_Category' %}">Categories</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:Admin_Level' %}">Levels</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:My_KPI_Create' %}">Company</a></li>
{% endblock %}
{% block Update %}<li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:My_KPI_Results_View' %}">Results</a></li>{% endblock %}


    {% block breadcrumb %}
        {% if pms_select %}
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:Admin_Home' %}">Admin</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:Admin_PMS_View' pms_select.pms_id %}">PMS</a></li>
        {% block more_breadcrumb %}{% endblock %}
        {% endif %}
    {% endblock %}

    {% block pms_menu %}
        {% if pms_select %}
        <style>
            .space_right{
                margin-right: 10px;
                margin-left: 10px;
                text-decoration: none;
            }
        </style>
        <nav class="main-header navbar navbar-expand-lg navbar-light bg-color2">
            {{ pms_select.pms_name }} |
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="space_right"><a href="{% url 'cfao_kenya:Admin_KPI' pms_select.pms_id %}">KPI</a></li>
                    <li class="space_right"><a href="">CheckIn</a></li>
                    <li class="space_right"><a href="">{{ pms_select }}</a></li>
                    {% if pms_select.pms_id %}
                    <li class="space_right"><a href="{% url 'cfao_kenya:Admin_Assessment' pms_select.pms_id  %}">Assessment</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% endif %}
    {% endblock %}


