{% extends "cfao_kenya/Admin/default.html" %}
{% block page_top %}
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'cfao_kenya:Admin_Dashboard' %}">Admin</a></li>
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'cfao_kenya:Admin_PMS_Assessment' pms.pms_id %}">Assessment</a></li>
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'cfao_kenya:Admin_PMS_Assessment_One' pms.pms_id evaluation.evaluation_id %}">{{ evaluation.evaluation_name }}</a></li>
{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">PMS <b>{{ pms.pms_name }}</b></h3>
          <div class="float-right">
            <a href="{% url 'cfao_kenya:Admin_PMS_Assessment_New' pms.pms_id %}" class="btn btn-success"><i class="fa fa-shopping-basket" style=""> New</i></a>
          </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
          <table class="table table-bordered">
              <tbody>
                <tr class="bg-info">
                    <th colspan="4">
                        Assessment Info
                    </th>
                </tr>
                <tr>
                    <td>
                        {{ evaluation.evaluation_name }}
                    </td>
                    <td>
                        {{evaluation.evaluation_start_date}} - {{ evaluation.evaluation_end_date }}
                    </td>
                </tr>

              </tbody>
          </table>
            <br>
            <hr>
           <table id="example1" class="table table-bordered">
              <thead>
                <tr>
                    <th class="bg-info" colspan="3">
                        Responses
                    </th>
                </tr>
                    <td>
                        Staff
                    </td>
                    <td>
                        TL
                    </td>
                    <td>
                       Status
                    </td>
                </tr>
              </thead>
               <tbody>
               {% for staff in staff_n_res %}
                    <tr>
                        <td>
                            {% if staff.2 %}
                                <a href="{% url 'cfao_kenya:Admin_PMS_Assessment_One_STl_One' pms.pms_id evaluation.evaluation_id staff.2.done_id %}">{{ staff.0.get_full_name }}</a>
                            {% else %}
                                {{ staff.0.get_full_name }}
                            {% endif %}
                        </td>
                        <td>
                            {{ staff.1.get_full_name }}
                        </td>
                        <td>
                            {% if staff.2 %}
                             Done
                            {% else %}
                             Not Done
                            {% endif %}
                        </td>
                    </tr>
               {% endfor %}
               </tbody>
           </table>

        </form>
          <br>
          <br>
          <br>
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>
     <script>
        $( "input" ).addClass( 'form-control');
        $( "textarea" ).addClass( 'form-control');
        $( "select" ).addClass( 'form-control');
    </script>

{% endblock %}