{% extends "cfao_agri/Admin/default.html" %}
{% block page_top %}
    <li class="breadcrumb-item" xmlns="http://www.w3.org/1999/html"><a href="{% url 'cfao_agri:Admin_Dashboard' %}">Admin</a></li>
{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">PMS <b>{{ pms.pms_name }}</b></h3>
          <div class="float-right">
            <a href="{% url 'cfao_agri:Admin_PMS_Company_New' pms.pms_id %}" class="btn btn-success"><i class="fa fa-shopping-basket" style=""> New</i></a>
          </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
          <br>
          <table id="example1" class="table table-bordered">
              <thead>
                <tr>
                    <th>
                        KPI
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Target
                    </th>
                    <th>
                        Function
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        Calculation
                    </th>
                </tr>

              </thead>
              <tbody>
                {% for kpi in company_kpi %}
                    <tr>
                        <td>
                            <a href="{% url 'cfao_agri:Admin_PMS_Company_One' pms.pms_id kpi.company_kpi_id %}">{{ kpi.company_kpi_title }}</a>
                        </td>
                        <td>
                            {{ kpi.company_kpi_status }}
                        </td>
                        <td>
                            {{ kpi.company_kpi_target }}
                        </td>
                        <td>
                            {{ kpi.company_kpi_function }}
                        </td>
                        <td>
                            {{ kpi.company_kpi_weight }}
                        </td>
                        <td>
                            {{ kpi.company_kpi_type }}
                        </td>
                    </tr>
                {% endfor %}
              </tbody>
          </table>

        </form>
          <br>
          <br>
          <br>
      </div>
      <!-- /.card-body -->
      <!-- /.card-body -->
    </div>
  </div>

{% endblock %}