{% extends 'cfao_kenya/Admin/default.html' %}
    {% block page_title %}Assessment - {{ Assessment.assessment_name }} - Edit{% endblock %}
    {% block more_breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:Admin_KPI' pms_select.pms_id %}">KPI</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:Admin_KPI_Staff' pms_select.pms_id staff_select.id %}">{{ staff_select.get_full_name }}</a></li>
        <li class="breadcrumb-item active">Edit</li>
    {% endblock %}
    {% block content %}
        {% if page_permission %}
            {% include 'cfao_kenya/Admin/kpi/display_templates/edit.html' %}
        {% else %}
            {% include 'cfao_kenya/errors/permissions.html' %}
        {% endif %}


    {% endblock %}