<!-- KPI. Form -->

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            {{ staff_select.get_full_name }} - KPI - {{ KPI.kpi_title }}
            <div class="float-right"><a href="{% url 'cfao_kenya:Admin_KPI_Staff_Delete' pms_select.pms_id staff_select.id KPI.kpi_id %}" class="btn btn-danger">Delete</a></div>
            <div class="float-right"><a href="{% url 'cfao_kenya:Admin_KPI_Staff_Edit' pms_select.pms_id staff_select.id KPI.kpi_id %}" class="btn btn-warning">Edit</a></div>
        </div>

        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>
                            Title
                        </th>
                        <td colspan="4">
                            {{ KPI.kpi_title }}
                        </td>

                    </tr>
                    <tr>
                        <th>
                            Description
                        </th>
                        <td colspan="4">
                            {{ KPI.kpi_details }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Criteria
                        </th>
                        <td colspan="4">
                            {{ KPI.kpi_criteria }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Target
                        </th>
                        <td colspan="4">
                            {{ KPI.kpi_target }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Weight
                        </th>
                        <th>
                            Units
                        </th>
                        <th>
                            Function
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Type
                        </th>
                    </tr>
                    <tr>
                        <td>
                            {{ KPI.kpi_weight }}
                        </td>
                        <td>
                            {{ KPI.kpi_units }}
                        </td>
                        <td>
                            {{ KPI.kpi_function }}
                        </td>
                        <td>
                            {{ KPI.kpi_status }}
                        </td>
                        <td>
                            {{ KPI.kpi_type }}
                        </td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>

                </tbody>
            </table>
            <br>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>April</th>
                            <td>{{ KPI.kpi_april_score }}</td>
                            <td>{{ KPI.kpi_april_score_approve }}</td>
                            <th>October</th>
                            <td>{{ KPI.kpi_october_score }}</td>
                            <td>{{ KPI.kpi_october_score_approve }}</td>
                        </tr>
                        <tr>
                            <th>May</th>
                            <td>{{ KPI.kpi_may_score }}</td>
                            <td>{{ KPI.kpi_may_score_approve }}</td>
                            <th>November</th>
                            <td>{{ KPI.kpi_november_score }}</td>
                            <td>{{ KPI.kpi_november_score_approve }}</td>
                        </tr>
                        <tr>
                            <th>June</th>
                            <td>{{ KPI.kpi_june_score }}</td>
                            <td>{{ KPI.kpi_june_score_approve }}</td>
                            <th>December</th>
                            <td>{{ KPI.kpi_december_score }}</td>
                            <td>{{ KPI.kpi_december_score_approve }}</td>
                        </tr>
                        <tr>
                            <th>July</th>
                            <td>{{ KPI.kpi_july_score }}</td>
                            <td>{{ KPI.kpi_july_score_approve }}</td>
                            <th>January</th>
                            <td>{{ KPI.kpi_january_score }}</td>
                            <td>{{ KPI.kpi_january_score_approve }}</td>
                        </tr>
                        <tr>
                            <th>August</th>
                            <td>{{ KPI.kpi_august_score }}</td>
                            <td>{{ KPI.kpi_august_score_approve }}</td>
                            <th>February</th>
                            <td>{{ KPI.kpi_february_score }}</td>
                            <td>{{ KPI.kpi_february_score_approve }}</td>
                        </tr>
                        <tr>
                            <th>September</th>
                            <td>{{ KPI.kpi_september_score }}</td>
                            <td>{{ KPI.kpi_september_score_approve }}</td>
                            <th>March</th>
                            <td>{{ KPI.kpi_march_score }}</td>
                            <td>{{ KPI.kpi_march_score_approve }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                All results Approved:  {{ KPI.kpi_all_results_approve }}
                <br>


            </form>
        </div>
    </div>
</div>