<!-- KPI Form -->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            {{ Level.level_name }}
            <div class="float-right btn btn-danger"><a href="{% url 'cfao_kenya:Admin_Level_Delete'  Level.level_id %}">Delete</a></div>
            <div class="float-right btn btn-warning"><a href="{% url 'cfao_kenya:Admin_Level_Edit' Level.level_id %}">Edit</a></div>
        </div>
         <table class="table table-bordered table-hover">
              <tbody>
                  <tr>
                      <th>
                          Level
                      </th>
                      <td>
                          {{ Level.level_name }}
                      </td>
                  </tr>
                  <tr>
                      <th>
                          Parent
                      </th>
                      <td>
                          {{ Level.level_parent }}
                      </td>
                  </tr>
                  <tr>
                      <th>
                          Head
                      </th>
                      <td>
                          {{ Level.level_head }}
                      </td>
                  </tr>
                  <tr>
                      <th>
                          Description
                      </th>
                      <td>
                          {{ Level.level_description }}
                      </td>
                  </tr>
                  <tr>
                      <th>
                          Category
                      </th>
                      <td>
                          {{ Level.level_category }}
                      </td>
                  </tr>
              </tbody>
         </table>
    </div>
    <div class="card">
        <div class="card-header">
            {{ Level.level_name }} Members
            <a href="{% url 'cfao_kenya:Admin_Level_Member_Create' Level.level_id %}"><div class="float-right btn btn-info">Add Member</div></a>
        </div>
         <table class="table table-bordered table-hover" id="searchTable">
              <thead>
                <tr>
                    <th>Member</th>
                    <th>Active Status</th>
                    <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for member in level_members %}
                  <tr>
                      <td>
                          {{ member.level_member_user.get_full_name }}
                      </td>
                      <td>
                          {{ member.level_member_active }}
                      </td>
                      <td>
                          {% if  member.level_member_active is True %}
                              <a href="{% url 'cfao_kenya:Admin_Level_Member_Status' Level.level_id member.level_member_id %}" class="btn bg-warning">Disable</a>
                          {% else %}
                              <a href="{% url 'cfao_kenya:Admin_Level_Member_Status' Level.level_id member.level_member_id %}" class="btn bg-success">Enable</a>
                          {% endif %}
                          <a href="{% url 'cfao_kenya:Admin_Level_Member_Delete' Level.level_id member.level_member_id %}" class="btn bg-danger">Remove</a>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
         </table>
    </div>
</div>