{% extends "toyota_kenya/default.html" %}
{% block pagetitle %}Company KPI{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-2">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <h2 class="profile-username text-center">MY KPIs</h2>
        <hr>
        <br>
        <br>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <a href="{% url 'toyota_kenya:Company_Dashboard' %}" class="btn btn-primary btn-block"><b>Company Overview</b></a>
          </li>
        </ul>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <div class="col-md-10">
   <div class="card-body">
    {% if per_kpi_score|length > 0 %}
      <div class="chart">
        <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
      </div>
    {% else %}
      <div class="callout callout-danger">
        <h5>Error plotting graph</h5>

        <!--<p>It seems you've got no approved KPIs</p>-->
      </div>
    {% endif %}
  </div>
   <div class="card card-primary card-outline card-outline-tabs">
      <div class="card-header p-0 border-bottom-0">
        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
          <li class="nav-item">
            <div class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">BSC Template</div>
          </li>
          <li class="nav-item">
            <div class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">KPIs</div>
          </li>
        </ul>
      </div>
    <div class="card-body">
        <div class="tab-content" id="custom-tabs-four-tabContent">
          <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
              {% if my_kpi %}
                    <table id="example1" class="table table-bordered table-striped">
                      <thead>
                        <tr>
                            <th>Pillar</th>
                            <th>Objective</th>
                            <th>Weight</th>
                            <th>S</th>
                            <th>A</th>
                            <th>B</th>
                            <th>C</th>
                            <th>D</th>
                        </tr>
                      </thead>
                      <tbody>
                 {% for kpi in my_kpi %}

                      <tr>
                          <th rowspan="{{ kpi.1.count }}"class="bg-info">{{ kpi.0 }}</th>
                          {% if kpi.1.count > 0 %}
                              <th>{{ kpi.1.0.company_kpi_title }}</th>
                              <td>{{ kpi.1.0.company_kpi_weight }}</td>
                              <td>{{ kpi.1.0.company_kpi_s_score }}</td>
                              <td>{{ kpi.1.0.company_kpi_a_score }}</td>
                              <td>{{ kpi.1.0.company_kpi_b_score }}</td>
                              <td>{{ kpi.1.0.company_kpi_c_score }}</td>
                              <td>{{ kpi.1.0.company_kpi_d_score }}</td>
                          {% endif %}
                      </tr>
                      {% if kpi.1.count > 1 %}
                          {% for k in kpi.1 %}
                              {% if k == kpi.1.0  %}
                              {% else %}
                                  <tr>
                                    <th>{{ k.company_kpi_title }}</th>
                                    <td>{{ k.company_kpi_weight }}</td>
                                    <td>{{ k.company_kpi_s_score }}</td>
                                    <td>{{ k.company_kpi_a_score }}</td>
                                    <td>{{ k.company_kpi_b_score }}</td>
                                    <td>{{ k.company_kpi_c_score }}</td>
                                    <td>{{ k.company_kpi_d_score }}</td>
                                  </tr>
                              {% endif %}
                          {% endfor %}
                      {% endif %}

                {% endfor %}
                    </tbody>

                    </table>
               {% endif %}

          </div>
        <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
         {% if my_kpi %}
             <table id="example1" class="table table-bordered table-striped">
            {% for kpi in my_kpi %}

              <thead>
              <tr>
                  <th>Pillar</th>
                  <th colspan="15" class="bg-info">{{ kpi.0 }}</th>
              </tr>
              <tr>
                <th>KPI</th>
                <th>Function</th>
                <th>Target</th>
                <th>Status</th>
                <th>Apr</th>
                <th>May</th>
                <th>Jun</th>
                <th>Jul</th>
                <th>Aug</th>
                <th>Sep</th>
                <th>Oct</th>
                <th>Nov</th>
                <th>Dec</th>
                <th>Jan</th>
                <th>Feb</th>
                <th>Mar</th>
              </tr>
              </thead>
              <tbody>
                {% for kpis in kpi.1 %}
                    {% if kpis.company_kpi_status != "Rejected" %}
                <tr>
                  <td>
                    {{ kpis.company_kpi_title }}
                  </td>
                  <td>
                    {{ kpis.company_kpi_function }}
                  </td>
                  <td>
                    {{ kpis.company_kpi_target }}
                  </td>
                  {% if kpis.company_kpi_status == "Pending" %}
                    <td class="bg-warning">
                      {{ kpis.company_kpi_status }}
                    </td>
                  {% else %}
                    <td>
                      {{ kpis.company_kpi_status }}
                    </td>
                  {% endif %}
                  <td>
                    {{ kpis.company_kpi_april_score }}
                  </td>
                  <td>
                    {{ kpis.company_kpi_may_score }}
                  </td>
                  <td>
                    {{ kpis.company_kpi_june_score }}
                  </td>
                  <td>
                    {{ kpis.company_kpi_july_score }}
                  </td>
                  <td>
                    {{ kpis.company_kpi_august_score }}
                  </td>
                  <td>
                    {{ kpis.company_kpi_september_score }}
                  </td>
                  <td>
                    {{ kpis.company_kpi_october_score }}
                  </td>
                  <td>
                    {{ kpis.company_kpi_november_score }}
                  </td>
                  <td>
                    {{ kpis.company_kpi_december_score }}
                  </td>
                  <td>
                    {{ kpis.company_kpi_january_score }}
                  </td>
                  <td>
                    {{ kpis.company_kpi_february_score }}
                  </td>
                  <td>
                    {{ kpis.company_kpi_march_score }}
                  </td>
                </tr>
              {% endif %}
                {% endfor %}
            {% endfor %}
              </tbody>
              <tfoot>

              </tfoot>

  {% else %}
             </table>
    <div class="alert alert-warning">
      <h5><i class="icon fas fa-ban"></i> No KPIs found</h5>
      It Appears you've not submitted any KPIs. Or all of them have been declined
    </div>
  {% endif %}
        </div>
        </div>
  </div>
</div>
<!-- page script -->
<script>
  $(function () {
    var labels = []
    targets = []
    for(x=0; x<parseInt('{{ per_kpi_score|length }}'); x++){
      kpi = "kpi" + (x+1);
      labels[x] = (kpi);
      targets[x] = 100;
    }

    var areaChartData = {
      labels  : labels,
      datasets: [
        {
          label               : 'Actuals',
          backgroundColor     : 'rgba(60,141,188,0.9)',
          borderColor         : 'rgba(60,141,188,0.8)',
          pointRadius          : false,
          pointColor          : '#3b8bba',
          pointStrokeColor    : 'rgba(60,141,188,1)',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data                : JSON.parse('{{ per_kpi_score|safe }}')
        },
        {
          label               : 'Target',
          backgroundColor     : 'rgba(210, 214, 222, 1)',
          borderColor         : 'rgba(210, 214, 222, 1)',
          pointRadius         : false,
          pointColor          : 'rgba(210, 214, 222, 1)',
          pointStrokeColor    : '#c1c7d1',
          pointHighlightFill  : '#fff',
          pointHighlightStroke: 'rgba(220,220,220,1)',
          data                : targets
        },
      ]
    }

    var areaChartOptions = {
      maintainAspectRatio : false,
      responsive : true,
      legend: {
        display: false
      },
      scales: {
        xAxes: [{
          gridLines : {
            display : false,
          }
        }],
        yAxes: [{
          gridLines : {
            display : false,
          }
        }]
      }
    }


    //-------------
    //- BAR CHART -
    //-------------
    var barChartCanvas = $('#barChart').get(0).getContext('2d')
    var barChartData = jQuery.extend(true, {}, areaChartData)
    var temp0 = areaChartData.datasets[0]
    var temp1 = areaChartData.datasets[1]
    barChartData.datasets[0] = temp1
    barChartData.datasets[1] = temp0

    var barChartOptions = {
      responsive              : true,
      maintainAspectRatio     : false,
      datasetFill             : false
    }

    var barChart = new Chart(barChartCanvas, {
      type: 'bar',
      data: barChartData,
      options: barChartOptions
    })
  })
</script>
{% load static %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- ChartJS -->

<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>

{% endblock %}

