{% extends "tamk/default.html" %}
{% block pagetitle %}Submit KPI{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
      <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $(function() {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
          });
          toastr.success('{{ message }}');
        });
      </script>
    {% endfor %}
{% endif %}
<div class="row">
  <div class="col-md-2">
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <h2 class="profile-username text-center">MY Staff KPIs</h2>
        <hr>
        <br>
        <p class="text-center">
          Submission Timeframe<br>
          <small>{{ pms.pms_bu_submit_start_date }} - {{ pms.pms_bu_submit_end_date }}</small>
        </p>
        <br>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <a href="{% url 'tamk:BUs_Kpi_Dashboard' %}" class="btn btn-primary btn-block"><b>BUs Dashboard</b></a>
            <a href="{% url 'tamk:BUs_Approve_Kpi' %}" class="btn btn-primary btn-block"><b>Approve KPI{% if team_pending > 0 %} <span class="badge badge-danger float-right">{{ team_pending }}</span>{% endif %}</b></a>
            <a href="{% url 'tamk:BUs_Track_Kpi' %}" class="btn btn-primary btn-block"><b>Staff KPI</b></a>
          </li>
        </ul>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  {% block kpicontent %} {% endblock %}
</div>
<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": false,
      "autoWidth": false,
    });
  });
</script>
{% endblock %}