{% extends "tydia/Admin/default.html" %}
{% block kpicontent %}

  <div class="col-md-10">

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Editing {{ user.username }}</h4>
        </div>
      <div class="card-body">
        <form method="post">
            {% csrf_token %}
        <div style="overflow-x:scroll">
            <table class="table table-bordered">
                {{ form.password.as_hidden }}
                {{ form.last_login.as_hidden }}
                {{ form.user_permissions.as_hidden }}
                {{ form.is_staff.as_hidden }}
                {{ form.date_joined.as_hidden }}
                <tbody>
                    <tr>
                        <th>First Name</th>
                        <td>{{ form.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Second Name</th>
                        <td>{{ form.last_name }}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ form.email }}</td>
                    </tr>
                    <tr>
                        <th>Active</th>
                        <td>{{ form.is_active }}</td>
                    </tr>
                    <tr>
                        <th>Superuser</th>
                        <td>{{ form.is_superuser }}</td>
                    </tr>
                    <tr>
                        <th>Groups</th>
                        <td>{{ form.groups }}</td>
                    </tr>
                </tbody>
                </table>
            <br>
            <hr>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
        </div>
      </div>
      <!-- /.card-body -->
    </div>

{% endblock %}

