{% extends 'cfao_kenya/Admin/default.html' %}
    {% block page_title %}Admin - Level Member - New{% endblock %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:Admin_Level' %}">Levels</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:Admin_Level' %}">{{ Level.level_name }}</a></li>
        <li class="breadcrumb-item active">New</li>
    {% endblock %}
    {% block content %}
        {% if page_permission %}
            {% include 'cfao_kenya/Admin/levelmember/display_templates/create.html' %}
        {% else %}
            {% include 'cfao_kenya/errors/permissions.html' %}
        {% endif %}


    {% endblock %}