{% extends 'cfao_kenya/KPI/level_up_kpi/default.html' %}
    {% block Create %}<li class="nav-item"><a class="nav-link" href="{% url 'cfao_kenya:KPI_Category_Level_New' levelcategory.category_id level.level_id %}">New KPI</a></li>{% endblock %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:KPI_Category' levelcategory.category_id  %}">{{ levelcategory.category_name }} KPI</a></li>
        <li class="breadcrumb-item active">{{ level.level_name }}</li>
    {% endblock %}
    {% block page_title %}{{ levelcategory.category_name }} KPI - {{ level.level_name }}{% endblock %}

    {% block content %}
        <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                  <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Approved KPIs</span>
                    <span class="info-box-number">
                        {{ approved_kpi.count }}
                    </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-color1 elevation-1"><i class="fas fa-thumbs-up"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Pending KPIs</span>
                    <span class="info-box-number">
                        <div id="pending"></div>
                        <script>
                            var p = parseInt({{ pending_kpi.count }}) + parseInt({{ submitted_kpi.count}});
                            document.getElementById('pending').innerHTML = p;
                        </script>

                    </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>
              <!-- /.col -->

              <!-- fix for small devices only -->
              <div class="clearfix hidden-md-up"></div>

              <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                  <span class="info-box-icon bg-color1 elevation-1"><i class="fas fa-shopping-cart"></i></span>

                  <div class="info-box-content">
                    <span class="info-box-text">Rejected KPIs</span>
                    <span class="info-box-number">
                        {{ rejected_kpi.count }}
                    </span>
                  </div>
                  <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
              </div>

              <!-- /.col -->
            </div>
        </div>

        {% if page_permission %}
            {% include 'cfao_kenya/KPI/level_up_kpi/display_templates/list.html' %}
        {% else %}
            {% include 'cfao_kenya/errors/permissions.html' %}
        {% endif %}

    {% endblock %}