{% extends 'cfao_kenya/Admin/default.html' %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:Admin_Home' %}">Admin Home</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'cfao_kenya:Admin_Users' %}">Users</a></li>
        <li class="breadcrumb-item active">{{ user.get_full_name }}</li>
    {% endblock %}
    {% block page_title %}Admin - User - View{% endblock %}
    {% block content %}
        {% if page_permission %}
            {% include 'cfao_kenya/Admin/user/display_templates/view.html' %}
        {% else %}
            {% include 'cfao_kenya/errors/permissions.html' %}
        {% endif %}

    {% endblock %}