{% extends 'Site/CheckIn/my_CheckIn/default.html' %}
    {% block page_title %}My CheckIn - New{% endblock %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active"><a href="{% url 'Site:My_CheckIn' company_id %}">My CheckIn</a></li>
        <li class="breadcrumb-item active">New</li>
    {% endblock %}
    {% block content %}

        {% if done is True %}
            {% include 'Site/errors/checkin_submission_complete.html' %}
        {% else %}

        {% if today > pms.pms_year_end_date %}
            {% include 'Site/errors/checkin_submission_complete_pms.html' %}
        {% else %}

            <div class="container-fluid">
                <div class="card">
                    <div class="card-header">
                        <strong>{{ form.checkIn_month.value }} CheckIn</strong>
                    </div>
                        <!-- todo Change the fields pa, pd, tma, tls to customize type -->
                        <form method="post">
                            {{ form.errors }}
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form.check_in_id.as_hidden }}
                                {{ form.check_in_pms.as_hidden }}
                                {{ form.check_in_Staff.as_hidden }}
                                {{ form.check_in_submit_date.as_hidden }}
                                {{ form.check_in_approver.as_hidden }}
                                {{ form.check_in_approval_date.as_hidden }}
                                {{ form.check_in_approval_date.as_hidden }}
                                {{ form.check_in_month.as_hidden }}
                                {{ form.check_in_status.as_hidden }}
                                Performance Area
                                {{ form.check_in_performance_area }}
                                Progress Discussed
                                {{ form.check_in_progress_discussed }}
                                <br>
                                Team member actions
                                {{ form.check_in_team_member_actions }}
                                <br>
                                Team Leader Support
                                {{ form.check_in_team_leader_support }}
                                <br>

                                {{ form.check_in_team_leader_comment.as_hidden }}
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-info">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
        {% endif %}
        {% endif %}

        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    CheckIns
                </div>
                 <table id="simpleTable" class="table table-bordered table-hover">
                      <thead>
                          <tr>
                            <th>Month</th>
                            <th>Submit Date</th>
                            <th>Status</th>
                            <th>Confirm Date</th>
                            <th>Confirm by</th>
                          </tr>
                          </thead>
                      <tbody>

                          {% for ci in CheckIn %}
                              <tr>
                              <td><a href="{% url 'Site:My_CheckIn_View' company_id ci.check_in_id %}">{{ ci.check_in_month }}</a></td>
                                <td>{{ ci.check_in_submit_date }}</td>
                                <td>{{ ci.check_in_status }}</td>
                                <td>{{ ci.check_in_approval_date }}</td>
                                <td>{{ ci.check_in_approver }}</td>
                          {% endfor %}
                      </tbody>
                 </table>
            </div>
        </div>


    {% endblock %}