{% extends 'Site/CheckIn/my_CheckIn/default.html' %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active">My Check-In</li>
    {% endblock %}
    {% block page_title %}My Check-In{% endblock %}
    {% block content %}
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    CheckIns <div class="float-right"><a href="{% url 'Site:My_CheckIn_Create' company_id %}">New Check-In</a></div>
                </div>
                 <table id="simpleTable" class="table table-bordered table-hover">
                      <thead>
                          <tr>
                            <th>Month</th>
                            <th>Submit Date</th>
                            <th>Status</th>
                            <th>Confirm Date</th>
                            <th>Confirm by</th>
                          </tr>
                          </thead>
                      <tbody>

                          {% for ci in CheckIn %}
                              <tr>
                              <td><a href="{% url 'Site:My_CheckIn_View' company_id ci.check_in_id %}">{{ ci.check_in_month }}</a></td>
                                <td>{{ ci.check_in_submit_date }}</td>
                                <td>{{ ci.check_in_status }}</td>
                                <td>{{ ci.check_in_approval_date }}</td>
                                <td>{{ ci.check_in_approver }}</td>
                          {% endfor %}
                      </tbody>
                 </table>
            </div>
        </div>

    {% endblock %}