{% extends 'Site/KPI/level_down_kpi/default.html' %}
    {% block breadcrumb %}
        <li class="breadcrumb-item active">Staff KPI</li>
    {% endblock %}
    {% block page_title %}Staff KPI{% endblock %}
    {% block content %}
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h5>levels I'm head</h5>
                </div>
                 <table id="simpleTable" class="table table-bordered table-hover">
                      <thead>
                          <tr>
                            <th>Level</th>
                            <th>Head</th>
                            <th>Description</th>
                            <th>Category</th>
                          </tr>
                          </thead>
                      <tbody>
                          {% for level in level_head %}
                                <tr>
                                    <td><a href="{% url 'Site:KPI_LevelDownDetail' company_id level.level_id %}">{{ level.level_name }}</a></td>
                                    <td>{{ level.level_head }}</td>
                                    <td>{{ level.level_description }}</td>
                                    <td>{{ level.level_category }}</td>
                                </tr>
                          {% endfor %}
                      </tbody>
                 </table>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>levels Down</h5>
                </div>
                 <table id="searchTable" class="table table-bordered table-hover">
                      <thead>
                          <tr>
                            <th>Level</th>
                            <th>Head</th>
                            <th>Description</th>
                            <th>Category</th>
                          </tr>
                          </thead>
                      <tbody>
                          {% for level in levels_down %}
                                <tr>
                                    <td><a href="{% url 'Site:KPI_LevelDownDetail' company_id level.level_id %}">{{ level.level_name }}</a></td>
                                    <td>{{ level.level_head }}</td>
                                    <td>{{ level.level_description }}</td>
                                    <td>{{ level.level_category }}</td>
                                </tr>
                          {% endfor %}
                      </tbody>
                 </table>
            </div>
        </div>

    {% endblock %}