{% extends "toyota_kenya/Assessment/default.html" %}
{% block pagetitle %}Previous Assessment{% endblock %}
{% block page_top %}<li class="breadcrumb-item"><a href="{% url 'toyota_kenya:Assessment_Previous' %}">Prev Assessment</a></li>{% endblock %}
{% block page_middle %}<li class="breadcrumb-item"><a href="{% url 'toyota_kenya:Assessment_Previous_One' evaluation.evaluation_id %}">Prev Evaluations</a></li>{% endblock %}
{% block page_bottom %}<li class="breadcrumb-item"><a href="{% url 'toyota_kenya:Assessment_S_Previous' evaluation.evaluation_id %}">Prev Staff Evaluations</a></li>{% endblock %}
{% block kpicontent %}

  <div class="col-md-10">
    <div class="card">
      <!-- /.card-header -->
      <div class="card-body">
        {% if ev_done == 'Not Done' %}
            <div class="alert alert-warning">
              <h5><i class="icon fas fa-ban"></i> Staff not found</h5>
              It Appears you did not evaluate your current team leader in this assessment
            </div>
          {% else %}
            <div class="alert alert-success">
              <h5><i class="icon fas fa-ban"></i> Staff Evaluated</h5>
              It Appears You've already Evaluated your Staff

            </div>
            <div class="col-md-12">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Question
                        </th>
                        <th>
                            Response
                        </th>
                        <th>
                            Comment
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for resp in ev_results %}
                        <tr>
                            <td>
                                {{ resp.0 }}
                            </td>
                            <td>
                                {{ resp.1 }}
                            </td>
                            <td>
                                {{ resp.2 }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
          {% endif %}

      </div>
    </div>
  </div>

{% endblock %}