<!-- KPI Form -->

<div class="container-fluid">
    <div class="row container-fluid">
        <div class="col-md-8">
            {% if date_check is False %}
                {% include 'Site/errors/kpi_submission_date.html' %}
            {% else %}
                {% if number_check is False %}
                    {% include 'Site/errors/kpi_submission_complete.html' %}
                {% else %}
                    {% if weight_check is False %}
                        {% include 'Site/errors/kpi_sum_weight.html' %}
                    {% else %}
                        <div class="card">
                            <div class="card-header">
                                Submit new KPI here
                            </div>
                            {{ form.errors }}
                            <form method="post">
                                {% csrf_token %}
                            <div class="card-body">
                                {{ form.kpi_id.as_hidden }}
                                {{ form.kpi_user.as_hidden }}
                                {{ form.kpi_pms.as_hidden }}
                                {{ form.kpi_submit_date.as_hidden }}
                                KPI Title
                                {{ form.kpi_title }}
                                <br>
                                Description
                                {{ form.kpi_details }}
                                <br>
                                Criteria
                                {{ form.kpi_criteria }}
                                <br>

                                <div class="row">
                                    <div class="col-md-4">
                                        Target
                                        {{ form.kpi_target }}
                                    </div>
                                    <div class="col-md-4">
                                        Units
                                        {{ form.kpi_units }}
                                    </div>
                                    <div class="col-md-4">
                                        Weight
                                        {{ form.kpi_weight }}
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-md-4">
                                        Function
                                        {{ form.kpi_function }}
                                    </div>
                                    <div class="col-md-4">
                                        Type
                                        {{ form.kpi_type }}
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-danger float-right" style="margin: 10px">Clear</button>
                                <button type="submit" class="btn btn-success float-right" style="margin: 10px">Submit</button>

                            </div>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Info
                </div>
                <div class="card-body">
                    <table class="table table-hover table-striped">
                        <tr>
                            <th colspan="2" class="bg-color1">Submission</th>
                        </tr>
                        <tr>
                            <td>From</td>
                            <td>{{ submission_data.submission_start_date }}</td>
                        </tr>
                        <tr>
                            <td>To</td>
                            <td>{{ submission_data.submission_end_date }}</td>
                        </tr> <tr>
                            <th colspan="2" class="bg-color1">Submitted</th>
                        </tr>
                        <tr>
                            <td>KPIs</td>
                            <td>{{ number_kpis }}</td>
                        </tr>
                        <tr>
                            <td>Sum Weight</td>
                            <td>{{ sum_weight }}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>